body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: #666;
    background-color: #fff;
    cursor: default;
    overflow-y: scroll;
}
