<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5d2d0994-2116-46b8-9188-b887ae97e522" Alias="content" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="2c1ebf59-f58d-4814-8d81-94a506e497fe">contentBase</Composition>
      <Composition Key="9ccc35a2-81ea-435e-9ab9-2e1fc3421fe8">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>