<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1858b232-3c97-450c-972e-e3394b66bd44" Alias="contactlessMenu" Level="1">
  <Info>
    <Name>ContactlessMenu</Name>
    <Icon>icon-qr-code color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="24ea3a5f-364f-49ea-ae0b-95cfccae9ffb">titleAndMetaTags</Composition>
    </Compositions>
    <DefaultTemplate>ContactlessMenu</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0fa6878c-4301-43c2-b9d9-fa3da0aa9736">ContactlessMenu</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="aa18f0a3-2fea-4006-ae5d-48614258b310" SortOrder="0">products</ContentType>
    <ContentType Key="a2a5d530-3dd7-49c7-91b1-c48d25d4d827" SortOrder="1">contact</ContentType>
    <ContentType Key="10277438-9c76-43fe-863c-0d25742e9c73" SortOrder="2">store</ContentType>
    <ContentType Key="ceedea8c-ee61-44a0-9d13-184767cebe15" SortOrder="3">aboutUs</ContentType>
    <ContentType Key="a56fbddc-831a-4884-a218-99f0af53e91b" SortOrder="4">fAQ</ContentType>
    <ContentType Key="54e5069b-0d5a-43a6-8d46-768ded97f5cf" SortOrder="5">login</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>