<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="21ff99d8-caf6-4c48-abe1-d725a454d24a" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="24ea3a5f-364f-49ea-ae0b-95cfccae9ffb">titleAndMetaTags</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="56371c13-335e-4319-a794-da122489938d">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0471759d-14f6-4aae-bdc5-1229e3cc425e" SortOrder="0">blog</ContentType>
    <ContentType Key="a2a5d530-3dd7-49c7-91b1-c48d25d4d827" SortOrder="1">contact</ContentType>
    <ContentType Key="5d2d0994-2116-46b8-9188-b887ae97e522" SortOrder="2">content</ContentType>
    <ContentType Key="b95e820c-a915-4e52-b84d-73276c2519d9" SortOrder="3">people</ContentType>
    <ContentType Key="aa18f0a3-2fea-4006-ae5d-48614258b310" SortOrder="4">products</ContentType>
    <ContentType Key="1858b232-3c97-450c-972e-e3394b66bd44" SortOrder="5">contactlessMenu</ContentType>
    <ContentType Key="54e5069b-0d5a-43a6-8d46-768ded97f5cf" SortOrder="6">login</ContentType>
    <ContentType Key="a56fbddc-831a-4884-a218-99f0af53e91b" SortOrder="7">fAQ</ContentType>
    <ContentType Key="10277438-9c76-43fe-863c-0d25742e9c73" SortOrder="8">store</ContentType>
    <ContentType Key="ceedea8c-ee61-44a0-9d13-184767cebe15" SortOrder="9">aboutUs</ContentType>
    <ContentType Key="d54e44bd-c4d9-4795-8f55-8bbbeeb710fc" SortOrder="10">joinBusiness</ContentType>
    <ContentType Key="1fb60a55-056b-4185-a829-3d7ce9bb9bd9" SortOrder="11">contactUsUrl</ContentType>
    <ContentType Key="0b44fe1e-6937-499a-a459-2ad1bc65aeb5" SortOrder="12">phoneConfirm</ContentType>
    <ContentType Key="3d60853e-5c6e-4f65-bedb-539cdc848a78" SortOrder="13">errorPage</ContentType>
    <ContentType Key="93057bea-d967-4084-8bac-daa8a7e72d08" SortOrder="14">digitalMenus</ContentType>
    <ContentType Key="22145e9e-960a-444d-be2a-c674892d26a8" SortOrder="15">posForRetailers</ContentType>
    <ContentType Key="bbbbb9ff-634d-4361-b9be-71039c714335" SortOrder="16">posForRestaurant</ContentType>
    <ContentType Key="d2dd376d-ebef-4bea-916d-7670aaaa0444" SortOrder="17">solutions</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3e704e52-25ce-4cb7-833d-8e6a047f17b7</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="logo">Logo</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8f1cdaea-daec-4475-b42e-525fe83c05d0</Key>
      <Caption>Logo</Caption>
      <Alias>logo</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>