<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d54e44bd-c4d9-4795-8f55-8bbbeeb710fc" Alias="joinBusiness" Level="1">
  <Info>
    <Name>JoinBusiness</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="24ea3a5f-364f-49ea-ae0b-95cfccae9ffb">titleAndMetaTags</Composition>
    </Compositions>
    <DefaultTemplate>JoinBusiness</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f361a335-8f19-4ff7-b9a5-77b34eb35536">JoinBusiness</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d2a5c588-8aba-482b-b195-1e011e33dd59" SortOrder="0">verification</ContentType>
    <ContentType Key="19c11561-5f23-4373-9d33-31c7feedcf00" SortOrder="1">password</ContentType>
    <ContentType Key="54e5069b-0d5a-43a6-8d46-768ded97f5cf" SortOrder="2">login</ContentType>
    <ContentType Key="7654816f-dd5b-48a1-81d9-212f85b198bd" SortOrder="3">newPassword</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e3b71475-bf1d-4a84-9cb1-5d7c33c25121</Key>
      <Name>umbracoNaviHide</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="umbracoNaviHide">umbracoNaviHide</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a436bafe-8d63-4aba-b06a-91a80a2647c7</Key>
      <Caption>umbracoNaviHide</Caption>
      <Alias>umbracoNaviHide</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>