<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="54e5069b-0d5a-43a6-8d46-768ded97f5cf" Alias="login" Level="1">
  <Info>
    <Name>Login</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="24ea3a5f-364f-49ea-ae0b-95cfccae9ffb">titleAndMetaTags</Composition>
    </Compositions>
    <DefaultTemplate>Login1</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="193122b5-c494-42a2-9ae4-7c77caf850ba">Login1</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0b44fe1e-6937-499a-a459-2ad1bc65aeb5" SortOrder="0">phoneConfirm</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>