<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="19c11561-5f23-4373-9d33-31c7feedcf00" Alias="password" Level="1">
  <Info>
    <Name>Password</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="24ea3a5f-364f-49ea-ae0b-95cfccae9ffb">titleAndMetaTags</Composition>
    </Compositions>
    <DefaultTemplate>Password</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="772e157e-280a-41bf-800e-ac40d6183918">Password</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>