<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b95e820c-a915-4e52-b84d-73276c2519d9" Alias="people" Level="1">
  <Info>
    <Name>People</Name>
    <Icon>icon-users-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="2c1ebf59-f58d-4814-8d81-94a506e497fe">contentBase</Composition>
      <Composition Key="9ccc35a2-81ea-435e-9ab9-2e1fc3421fe8">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>da1efcfa-2e10-49c9-9687-fbf74edf79fb</Key>
      <Name>Featured People</Name>
      <Alias>featuredPeople</Alias>
      <Definition>39fa3a80-5da6-4c10-94a6-b27f19689a20</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2bf19459-c6ac-4ca4-8e7a-53d23c935bff</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>-3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>