<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="22145e9e-960a-444d-be2a-c674892d26a8" Alias="posForRetailers" Level="1">
  <Info>
    <Name>Pos For Retailers</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="24ea3a5f-364f-49ea-ae0b-95cfccae9ffb">titleAndMetaTags</Composition>
    </Compositions>
    <DefaultTemplate>PosForRetailers</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="496b4128-5e83-4f9a-9e74-563232f08ea7">PosForRetailers</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>