<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bbbbb9ff-634d-4361-b9be-71039c714335" Alias="posForRestaurant" Level="1">
  <Info>
    <Name>Pos For Restaurant</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="24ea3a5f-364f-49ea-ae0b-95cfccae9ffb">titleAndMetaTags</Composition>
    </Compositions>
    <DefaultTemplate>PosForRestaurant</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fb14a424-edbb-4bb2-89f9-c857bf1c8154">PosForRestaurant</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>