<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aa18f0a3-2fea-4006-ae5d-48614258b310" Alias="products" Level="1">
  <Info>
    <Name>Products</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="2c1ebf59-f58d-4814-8d81-94a506e497fe">contentBase</Composition>
      <Composition Key="9ccc35a2-81ea-435e-9ab9-2e1fc3421fe8">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="efe911e4-2b66-401b-b9a8-8880398b9565" SortOrder="0">productType</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d04725e1-2d85-4e30-ade9-a3f882eb1e14</Key>
      <Name>Default Currency</Name>
      <Alias>defaultCurrency</Alias>
      <Definition>0b6a45e7-44ba-430d-9da5-4e46060b9e03</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="shop">Shop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>379c5982-c30d-485e-a019-e43a28b74f6a</Key>
      <Name>Featured Products</Name>
      <Alias>featuredProducts</Alias>
      <Definition>081b3cb2-4af7-4fed-8971-77ea0e8cbc69</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="shop">Shop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>db23b74a-b71b-4412-858d-bc2496bbf818</Key>
      <Caption>Shop</Caption>
      <Alias>shop</Alias>
      <Type>Group</Type>
      <SortOrder>-4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>