<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d2dd376d-ebef-4bea-916d-7670aaaa0444" Alias="solutions" Level="1">
  <Info>
    <Name>Solutions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="24ea3a5f-364f-49ea-ae0b-95cfccae9ffb">titleAndMetaTags</Composition>
    </Compositions>
    <DefaultTemplate>Solutions</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9b75ecaf-7c30-4cd7-bbb4-5f02a6ee08fb">Solutions</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="efe911e4-2b66-401b-b9a8-8880398b9565" SortOrder="0">productType</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>