<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d2a5c588-8aba-482b-b195-1e011e33dd59" Alias="verification" Level="1">
  <Info>
    <Name>Verification</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="24ea3a5f-364f-49ea-ae0b-95cfccae9ffb">titleAndMetaTags</Composition>
    </Compositions>
    <DefaultTemplate>Verification</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3a9206bc-bf1d-4e9a-9d63-8f41b406b936">Verification</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>