<?xml version="1.0" encoding="utf-8"?>
<Macro Key="345e9774-fdcd-4b55-af6e-296a4cb78dd5" Alias="FeaturedProducts" Level="0">
  <Name>FeaturedProducts</Name>
  <MacroSource>~/Views/MacroPartials/FeaturedProducts.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>