<?xml version="1.0" encoding="utf-8"?>
<Macro Key="93eae181-679d-4ca2-8276-55553cf40efb" Alias="LatestBlogposts" Level="0">
  <Name>LatestBlogposts</Name>
  <MacroSource>~/Views/MacroPartials/LatestBlogposts.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>