@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Thin.woff"),
        url("../fonts/Montserrat-Thin.woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraLight.woff"),
        url("../fonts/Montserrat-ExtraLight.woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.woff"),
        url("../fonts/Montserrat-Light.woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.woff"),
        url("../fonts/Montserrat-Regular.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.woff"),
        url("../fonts/Montserrat-Medium.woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.woff"),
        url("../fonts/Montserrat-SemiBold.woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.woff"),
        url("../fonts/Montserrat-Bold.woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraBold.woff"),
        url("../fonts/Montserrat-ExtraBold.woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Black.woff"),
        url("../fonts/Montserrat-Black.woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}