//screen resise
$desktop-above: 1441px;
$desktop: 1440px;

$laptop-above : 1201px;
$laptop : 1200px;

$tablet-above: 1024px;
$tablet: 1023px;

$mobile-above: 768px;
$mobile: 767px;

$phone: 560px;

@mixin desktop-above {
    @media (min-width: $desktop-above) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin laptop-above {
    @media (min-width: $laptop-above) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: $laptop) {
        @content;
    }
}

@mixin tablet-above {
    @media (min-width: $tablet-above) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin mobile-above {
    @media (min-width: $mobile-above) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin phone {
    @media (max-width: $phone) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}