@import 'normalize', 'fonts', 'veriables', 'mixins', 'media',  'utils', 'globals', 'animations';

@import 'blocks/button',
'blocks/button-burger',

'blocks/header',
'blocks/logo',
'blocks/navigation',


'blocks/hero',
'blocks/steps',
'blocks/working',
'blocks/serve',
'blocks/decisions',
'blocks/delivery',
'blocks/software',
'blocks/members',
'blocks/design',
'blocks/payment',
'blocks/whom',
'blocks/wrap',
'blocks/reviews',
'blocks/support',
'blocks/col',
'blocks/launch',
'blocks/faq',
'blocks/works',
'blocks/instantly',
'blocks/code',


'blocks/footer';