@page
@model Menu4Tech.Views.FooterModel
@{
}
<footer class="border-top footer text-muted">
    @ViewBag.FooterText1<br />
    @ViewBag.FooterText <a href="https://www.menu4u.tech/@ViewBag.FooterLink" target="_blank">www.menu4u.tech</a>
</footer>