<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bbbbe4a0-2d2d-49e6-95e2-3c81e24e0ba8" Alias="1) Сheck if the phone number is correct." Level="1">
  <Info>
    <Parent>VerifyPhonePage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">1) Сheck if the phone number is correct.</Translation>
    <Translation Language="he">1) בדוק אם מספר הטלפון נכון.</Translation>
    <Translation Language="ru">1) Проверьте правильность номера телефона.</Translation>
  </Translations>
</Dictionary>