<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dc18019e-3a40-48f8-8d03-d5605e9cfe18" Alias="2) Wait a few minutes - your provider may be experiencing a delay." Level="1">
  <Info>
    <Parent>VerifyPhonePage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">2) Wait a few minutes - your provider may be experiencing a delay.</Translation>
    <Translation Language="he">2) המתן מספר דקות - ייתכן שישנו עיכוב בשרת שלך.</Translation>
    <Translation Language="ru">2) Подождите несколько минут - возможно, у вашего провайдера задержка.</Translation>
  </Translations>
</Dictionary>