<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1cf14700-293f-49ed-84d6-e27b7caf7fca" Alias="24/7 support and training" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">24/7 support and training</Translation>
    <Translation Language="he">תמיכה והדרכה 24/7</Translation>
    <Translation Language="ru">Круглосуточная поддержка и обучение</Translation>
  </Translations>
</Dictionary>