<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="10ac3b24-05cf-4944-a969-c2fa33ec5bcc" Alias="3) If you still don’t receive SMS, &lt;a href=''&gt;Contact Us&lt;/a&gt; so we can help." Level="1">
  <Info>
    <Parent>VerifyPhonePage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">3) If you still don’t receive SMS, &lt;a href="/blog/en/page/contactus"&gt;Contact Us&lt;/a&gt; so we can help.</Translation>
    <Translation Language="he">3) אם אתה עדיין לא מקבל SMS, &lt;a href="/blog/he/page/contactus "&gt; צור איתנו קשר &lt;/a&gt; כדי שנוכל לעזור.</Translation>
    <Translation Language="ru">3) Если вы по-прежнему не получаете SMS, &lt;a href="/blog/ru/page/contactus "&gt; свяжитесь с нами &lt;/a&gt;, чтобы мы могли помочь.</Translation>
  </Translations>
</Dictionary>