<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0d1fac4f-b9b7-45b3-b505-d2d7de57e558" Alias="360 software solution for small or huge restaurants" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">&lt;span style="color: var(--color-accent);"&gt;360 software&lt;/span&gt; solution for small or huge restaurants</Translation>
    <Translation Language="he">&lt;span style="color: var(--color-accent);"&gt;תוכנה 360&lt;/span&gt; פתרון למסעדות קטנות או גדולות</Translation>
    <Translation Language="ru">&lt;span style="color: var(--color-accent);"&gt;360 software&lt;/span&gt; решение для маленьких и больших ресторанов</Translation>
  </Translations>
</Dictionary>