<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9998c7da-639b-4b4b-90b2-81fb1d2a400a" Alias="Accommodate last-minute reservations and special requests on the spot" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Accommodate last-minute reservations and special requests on the spot</Translation>
    <Translation Language="he">התאימו הזמנות של הרגע האחרון ובקשות מיוחדות במקום</Translation>
    <Translation Language="ru">Обрабатывайте бронирования в последнюю минуту и специальные запросы на месте</Translation>
  </Translations>
</Dictionary>