<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="59b5d7ed-84c7-48d3-a3d5-18c2943542bc" Alias="Add your dishes, categories, and photos with our simple editor" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Add your dishes, categories, and photos with our simple editor</Translation>
    <Translation Language="he">הוסיפו את המנות, הקטגוריות והצילום שלכם בעורך הפשוט שלנו</Translation>
    <Translation Language="ru">Добавляйте ваши блюда, категории и фотографии с нашим простым редактором</Translation>
  </Translations>
</Dictionary>