<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="522eae03-20ec-4907-a7a1-2238a17bc4c1" Alias="Adding delivery and call center modules" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Adding delivery and call center modules took minutes — and everything synced automatically. Now we manage dine-in, online orders, and phone calls in one place. It’s like having a full tech team behind our restaurant</Translation>
    <Translation Language="he">הוספת מודולי משלוחים ומוקד טלפוני לקחה דקות — והכל סונכרן אוטומטית. עכשיו אנו מנהלים את ההזמנות במקום, ההזמנות המקוונות והטלפונים במקום אחד. זה כמו שיש צוות טכנולוגי מלא מאחורי המסעדה שלנו.</Translation>
    <Translation Language="ru">Добавление модулей доставки и колл-центра заняло несколько минут — и всё синхронизировалось автоматически. Теперь мы управляем заказами в зале, онлайн-заказами и звонками в одном месте. Это как иметь полноценную техническую команду за нашей ресторанной деятельностью.</Translation>
  </Translations>
</Dictionary>