<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="eaaebe17-2a6a-4cba-a98a-f56f1686db15" Alias="Affiliates" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Affiliates</Translation>
    <Translation Language="he">שותפים</Translation>
    <Translation Language="ru">Партнёры</Translation>
  </Translations>
</Dictionary>