<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8f9b4a4e-7177-406e-a137-1e0a08b88283" Alias="AI-Powered Insights for Smarter Decisions" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">&lt;span style="color: var(--color-accent);"&gt;AI-Powered Insights &lt;/span&gt; for Smarter Decisions</Translation>
    <Translation Language="he">&lt;span style="color: var(--color-accent);"&gt;תובנות מונעות בינה מלאכותית&lt;/span&gt; להחלטות חכמות יותר</Translation>
    <Translation Language="ru">&lt;span style="color: var(--color-accent);"&gt;Аналитика на базе ИИ&lt;/span&gt; для более умных решений</Translation>
  </Translations>
</Dictionary>