<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c10328e5-33ac-44fc-8d9e-dd2feef2c85d" Alias="Are you opening a new location? Oversee it from the same point of sale system as your current locations. Lightspeed Restaurant centralizes your business so you can manage them all at once" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Are you opening a new location? Oversee it from the same point of sale system as your current locations. Lightspeed Restaurant centralizes your business so you can manage them all at once</Translation>
    <Translation Language="he">אתם פותחים סניף חדש? פקחו עליו מהמערכת לנקודת המכירה שבה אתם משתמשים בסניפים הקיימים. Lightspeed Restaurant מרכזת את העסק שלכם כך שתוכלו לנהל את כולם בבת אחת.</Translation>
    <Translation Language="ru">Вы открываете новое заведение? Контролируйте его через ту же POS-систему, что и ваши текущие точки. Lightspeed Restaurant централизует ваш бизнес, чтобы вы могли управлять всеми одновременно.</Translation>
  </Translations>
</Dictionary>