<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b7a93474-5dcf-4f27-a0a2-8a317e30f143" Alias="Are you ready to launch?" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Are you ready to launch?</Translation>
    <Translation Language="he">האם אתם מוכנים להשקה?</Translation>
    <Translation Language="ru">Вы готовы к запуску?</Translation>
  </Translations>
</Dictionary>