<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ac12bbe7-050d-4cf7-bb21-0470a0c068f4" Alias="Automatic Sync" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Automatic Sync</Translation>
    <Translation Language="he">סנכרון אוטומטי</Translation>
    <Translation Language="ru">Автоматическая синхронизация</Translation>
  </Translations>
</Dictionary>