<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b6088a93-f926-48d3-8b64-5338eb611aaf" Alias="Banner-Menu4u-MainText" Level="2">
  <Info>
    <Parent>Banner-Menu4u-text</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Builds digital beautiful menus for free</Translation>
    <Translation Language="he">קבלו תפריט ברקוד דיגיטליי למסעדה שלכם בחינם. </Translation>
    <Translation Language="ru">Бесплатно создать красивые цифровые меню</Translation>
  </Translations>
</Dictionary>