<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7ab20cde-42ec-4ced-a7da-c297bd6fc26b" Alias="Banner-Menu4u-smallText" Level="2">
  <Info>
    <Parent>Banner-Menu4u-text</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Make your restaurant a safe place to dine by deploying a contactless QR Code menu.</Translation>
    <Translation Language="he">הגדילו את המכירות במסעדה שלכם וייעלו את השירות על ידי תפריט ברקוד דיגיטלי (QR)</Translation>
    <Translation Language="ru">Сделайте свой ресторан безопасным местом для ужина, с помощью бесконтактных QR code меню</Translation>
  </Translations>
</Dictionary>