<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bd0cefa8-dcc8-4de8-92ab-0fd649c9a6c6" Alias="Bars" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Bars</Translation>
    <Translation Language="he">ברים</Translation>
    <Translation Language="ru">Бары</Translation>
  </Translations>
</Dictionary>