<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f53a455a-c380-4368-8630-024ee197dc59" Alias="Being a restaurant owner is challenging, so we made POS software that’s easy for you" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Being a restaurant owner is challenging, so we made POS software that’s easy for you</Translation>
    <Translation Language="he">להיות בעל מסעדה זו משימה מאתגרת, לכן יצרנו תוכנת POS קלה לשימוש עבורכם</Translation>
    <Translation Language="ru">Быть владельцем ресторана — задача не из лёгких, поэтому мы создали POS-софту, которая проста для вас</Translation>
  </Translations>
</Dictionary>