<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2df79246-ec66-4ae5-ba29-7fdb76cd4889" Alias="Branch address:" Level="2">
  <Info>
    <Parent>Step 3</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Branch address:</Translation>
    <Translation Language="he">כתובת הסניף:</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>