<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0548633b-76b2-4f68-ae5e-6e7c450ba963" Alias="Brand/Branch Name:" Level="2">
  <Info>
    <Parent>Step 3</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Brand/Branch Name:</Translation>
    <Translation Language="he">שם מותג / סניף:</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>