<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="02f3e28f-81b3-4314-b546-fceec5fee37c" Alias="Build your digital menu" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Build your digital menu</Translation>
    <Translation Language="he">בנה את התפריט הדיגיטלי שלך</Translation>
    <Translation Language="ru">Создайте ваше цифровое меню</Translation>
  </Translations>
</Dictionary>