<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5d70e4a6-925f-480a-8ed9-6af35d4cea58" Alias="Button-LearnMore" Level="2">
  <Info>
    <Parent>Banner-Menu4u-Buttons</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Learn more</Translation>
    <Translation Language="he">למד עוד על תפריט ברקוד</Translation>
    <Translation Language="ru">Узнать больше</Translation>
  </Translations>
</Dictionary>