<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f6f26566-e486-4a81-be4b-b9dee6a58071" Alias="Button-OpenStore" Level="2">
  <Info>
    <Parent>Banner-Menu4u-Buttons</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Open Store</Translation>
    <Translation Language="he">פתח חנות</Translation>
    <Translation Language="ru">Открыть магазин</Translation>
  </Translations>
</Dictionary>