<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1eaff6c9-76be-4080-9a30-43afee15c1a5" Alias="Button-UserGuid" Level="2">
  <Info>
    <Parent>Banner-Menu4u-Buttons</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">User guide</Translation>
    <Translation Language="he">מדריך למשתמש</Translation>
    <Translation Language="ru">Руководство пользователя</Translation>
  </Translations>
</Dictionary>