<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ffa2a457-6fdd-4156-adf1-753e7b768fe6" Alias="By creating an account, you are agreeing to our" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">By creating an account, you are agreeing to our &lt;a href="/"&gt;Terms and Conditions&lt;/a&gt; and our &lt;a href="/"&gt;Privacy Policy&lt;/a&gt;.</Translation>
    <Translation Language="he">על ידי יצירת חשבון אתה מסכים ל &lt;a href="/"&gt; תנאים והגבלות &lt;/a&gt; ול &lt;a href="/"&gt; מדיניות הפרטיות &lt;/a&gt; שלנו.</Translation>
    <Translation Language="ru">Создавая аккаунт, вы подтверждаете что согласны с нашими  &lt;a href="/"&gt;Условиями и положениями &lt;/a&gt; и с нашей &lt;a href="/"&gt;Политикой конфиденциальности&lt;/a&gt;.</Translation>
  </Translations>
</Dictionary>