<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="91af0ba2-4b92-46ca-b52b-30e356150ec7" Alias="Can I manage multiple restaurant locations?" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Can I manage multiple restaurant locations?</Translation>
    <Translation Language="he">האם אני יכול לנהל מספר סניפי מסעדות?</Translation>
    <Translation Language="ru">Могу ли я управлять несколькими ресторанами одновременно?</Translation>
  </Translations>
</Dictionary>