<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="afb8f9a9-b3c9-4f4a-b302-59c18aa728ae" Alias="Change yoo menu" Level="1">
  <Info>
    <Parent>Contactless-menu</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Change your menu in real-time</Translation>
    <Translation Language="he">שנו את התפריטים שלכם בזמן אמת</Translation>
    <Translation Language="ru">Измените свое меню в режиме реального времени</Translation>
  </Translations>
</Dictionary>