<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ab560076-8843-48b6-b29b-557344a71d4b" Alias="Changed" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Changed</Translation>
    <Translation Language="he">שונה</Translation>
    <Translation Language="ru">Изменено</Translation>
  </Translations>
</Dictionary>