<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="306c3f68-01a6-4e25-bf74-e9208c0a2ced" Alias="Change phone" Level="1">
  <Info>
    <Parent>VerifyPhonePage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Change phone</Translation>
    <Translation Language="he">שנה מספר טלפון</Translation>
    <Translation Language="ru">Сменить номер телефона</Translation>
  </Translations>
</Dictionary>