<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0ed83cdf-7e02-49bb-9df5-d47b6d8da90e" Alias="Change" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Change</Translation>
    <Translation Language="he">שנה</Translation>
    <Translation Language="ru">Изменить</Translation>
  </Translations>
</Dictionary>