<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fbe1b039-6971-496b-8281-48c674432d8c" Alias="Choose Your country" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Choose Your country</Translation>
    <Translation Language="he">בחר מדינה</Translation>
    <Translation Language="ru">Выберите вашу страну</Translation>
  </Translations>
</Dictionary>