<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="00c15941-ec93-46d0-a069-9b7593aa6c61" Alias="Choose security password" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Choose security password</Translation>
    <Translation Language="he">בחר סיסמת אבטחה</Translation>
    <Translation Language="ru">Выберете пароль для защиты</Translation>
  </Translations>
</Dictionary>