<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ee2c714f-edb3-4c18-9f70-c6238a975cb4" Alias="City" Level="2">
  <Info>
    <Parent>Step 3</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">City</Translation>
    <Translation Language="he">עיר</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>