<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0473cd53-796c-4269-b89c-b5545b243628" Alias="Clients scan the code" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Clients scan the code</Translation>
    <Translation Language="he">הלקוחות סורקים את הקוד</Translation>
    <Translation Language="ru">Клиенты сканируют код</Translation>
  </Translations>
</Dictionary>