<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5074dae3-3d5c-49dd-936d-ca942a9113f1" Alias="Clientsscanthecode-Title" Level="2">
  <Info>
    <Parent>Steps</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Clients scan the code</Translation>
    <Translation Language="he">הלקוח סורק את הקוד</Translation>
    <Translation Language="ru">Клиент сканирует код</Translation>
  </Translations>
</Dictionary>