<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f6444521-77a3-41f0-848b-ece5e200822b" Alias="Clientsscanthecode" Level="2">
  <Info>
    <Parent>Steps</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The customer scans the QR code using his phone and the mini-site set up by CentralApp opens automatically and the customer can browse the different maps to make his choice</Translation>
    <Translation Language="he">הלקוח סורק את קוד ה- QR באמצעות הטלפון האישי שלו והתפריט שלכם יפתח אוטומטית, הלקוח יכול לעיין בתפריט, בתמונות של המנות, להרשום כחבר מועדון, לתת ציון למנות ולשתף ברשתות חברתיות. 
פרסום חינם, יש!
</Translation>
    <Translation Language="ru">Клиент сканирует QR-код с помощью своего телефона, и автоматически открывается мини-сайт, созданный Central App, и клиент может просматривать различные карты, чтобы сделать свой выбор.</Translation>
  </Translations>
</Dictionary>