<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4a184a54-65c0-4268-b6cc-2b6cb57a68ae" Alias="Combos Menu Modifiers" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Combos &amp; Menu Modifiers</Translation>
    <Translation Language="he">קומבואים ושינויים בתפריט</Translation>
    <Translation Language="ru">Комбо и модификаторы меню</Translation>
  </Translations>
</Dictionary>