<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d09932c5-33b3-459e-a978-9d32fdd3c3fc" Alias="Company name:" Level="2">
  <Info>
    <Parent>Step 3</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Company name:</Translation>
    <Translation Language="he">שם חברה</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>