<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6a76bd8c-b39f-4e06-abae-99f33ef8e521" Alias="Company number:" Level="2">
  <Info>
    <Parent>Step 3</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Company number:</Translation>
    <Translation Language="he">מספר ח.פ/עסק מורשה</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>