<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="af9a4b69-3953-40b2-9a97-10c827742ea8" Alias="Conditions" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Conditions</Translation>
    <Translation Language="he">תנאים</Translation>
    <Translation Language="ru">Условия</Translation>
  </Translations>
</Dictionary>