<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3f71d0ff-6433-432a-be40-24ce39638884" Alias="Confirm security password" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Confirm security password</Translation>
    <Translation Language="he">אשר את סיסמת האבטחה</Translation>
    <Translation Language="ru">Подтвердите защитный пароль</Translation>
  </Translations>
</Dictionary>