<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f256d2b5-06ff-4907-8054-c9cea11e3ecc" Alias="Contact us" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Contact us</Translation>
    <Translation Language="he">צור קשר</Translation>
    <Translation Language="ru">Свяжитесь с нами</Translation>
  </Translations>
</Dictionary>