<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0e7f3911-ac60-4288-b190-8676506a52ca" Alias="Contacts" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Contacts</Translation>
    <Translation Language="he">פרטי קשר</Translation>
    <Translation Language="ru">Контакты</Translation>
  </Translations>
</Dictionary>