<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="70460767-0077-4ced-a4d9-30cc9b674afc" Alias="Continue to serve even if the internet or electricity goes down" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Continue to serve even if the internet or electricity goes down</Translation>
    <Translation Language="he">המשיכו לשרת גם אם האינטרנט או החשמל נופלים</Translation>
    <Translation Language="ru">Продолжайте обслуживать клиентов даже если отключится интернет или электричество</Translation>
  </Translations>
</Dictionary>