<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ee346cdc-3a1e-4b17-b588-d56c547cb7b1" Alias="Create stunning digital menus" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Create stunning digital menus &lt;span style="color: var(--color-accent);"&gt;instantly&lt;/span&gt;</Translation>
    <Translation Language="he">צור תפריטים דיגיטליים מדהימים &lt;span style="color: var(--color-accent);"&gt;מיידית&lt;/span&gt;</Translation>
    <Translation Language="ru">Создавайте впечатляющие цифровые меню &lt;span style="color: var(--color-accent);"&gt;мгновенно&lt;/span&gt;</Translation>
  </Translations>
</Dictionary>