<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="23584567-f954-4abf-b534-061e31b43f6a" Alias="Create your digital menu" Level="1">
  <Info>
    <Parent>Digital Menu</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Create your digital menu</Translation>
    <Translation Language="he">צור את התפריט הדיגיטלי שלך</Translation>
    <Translation Language="ru">Создайте свое цифровое меню</Translation>
  </Translations>
</Dictionary>