<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ca578c85-0672-4863-8ee9-9128465ea2b1" Alias="Create your account" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Create your account</Translation>
    <Translation Language="he">צור חשבון</Translation>
    <Translation Language="ru">Создать аккаунт</Translation>
  </Translations>
</Dictionary>