<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7b137eb5-fbf9-4f45-ae1b-8e4f5a255ebc" Alias="CreateFreeMenu" Level="2">
  <Info>
    <Parent>HowWorks</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Create a menu using our intuitive editor and publish for use 100% for FREE forever!</Translation>
    <Translation Language="he">באמצעות העורך האינטואיטיבי שלנו הקלידו את המוצרים שלכם, העלו תמונות של המנות והגדירו מחירים.</Translation>
    <Translation Language="ru">Создайте меню с помощью нашего интуитивно понятного редактора и опубликуйте его на все 100% БЕСПЛАТНО навсегда!</Translation>
  </Translations>
</Dictionary>