<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b39596a1-3c64-4a65-95bd-60df7a5df9b3" Alias="Create your menu" Level="2">
  <Info>
    <Parent>Steps</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Create your menu</Translation>
    <Translation Language="he">קבלו קוד QR</Translation>
    <Translation Language="ru">Создайте свое меню </Translation>
  </Translations>
</Dictionary>