<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d92f4dd2-5992-4d61-a40a-72c178cf1548" Alias="CreateFreeMenuTitle" Level="2">
  <Info>
    <Parent>HowWorks</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Create a free barcode menu</Translation>
    <Translation Language="he">צורו תפריט ברקוד</Translation>
    <Translation Language="ru">Создать бесплатное меню</Translation>
  </Translations>
</Dictionary>