<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6cf4fc35-d3fc-4c57-b86a-634f96aa1d3b" Alias="Create your QR menu" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Create your QR menu</Translation>
    <Translation Language="he">צור את תפריט ה-QR שלך</Translation>
    <Translation Language="ru">Создайте ваше QR-меню</Translation>
  </Translations>
</Dictionary>