<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6f996a1e-9a4c-4442-9280-cfa99652c0b5" Alias="Customer-Facing Display" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Customer-Facing Display</Translation>
    <Translation Language="he">מסך מול הלקוח</Translation>
    <Translation Language="ru">Дисплей для клиента</Translation>
  </Translations>
</Dictionary>