<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="76ad32ff-34e5-417e-b5c2-ccf44d841029" Alias="Customization" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Customization</Translation>
    <Translation Language="he">התאמה אישית</Translation>
    <Translation Language="ru">Настройка</Translation>
  </Translations>
</Dictionary>