<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3e9d9cd4-3efc-4b66-b293-0c6d80f01ce6" Alias="Customer exists with this e-mail!!!" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Customer exists with this e-mail!!!</Translation>
    <Translation Language="he">קיים כבר לקוח רשום על כתובת דואר אלקטרוני זה !!!</Translation>
    <Translation Language="ru">Аккаунт с таким email уже существует!!!</Translation>
  </Translations>
</Dictionary>