<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2185196e-90ba-41af-bb6c-8ea16ddf24cc" Alias="Customer reviews" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Customer reviews</Translation>
    <Translation Language="he">חוות דעת של לקוחות</Translation>
    <Translation Language="ru">Отзывы клиентов</Translation>
  </Translations>
</Dictionary>