<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4bc76324-e2e6-4404-ac97-f198ba945e88" Alias="Daniel Kim, Owner of Mellow Coffee House" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Daniel Kim, Owner of Mellow Coffee House</Translation>
    <Translation Language="he">דניאל קים, בעלים של Mellow Coffee House</Translation>
    <Translation Language="ru">Дэниел Ким, владелец Mellow Coffee House</Translation>
  </Translations>
</Dictionary>