<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dbb2fe9d-edcb-4e45-936f-07c7c45ed393" Alias="Delightful Dining" Level="1">
  <Info>
    <Parent>Digital Menu</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Delightful Dining: Explore Our Interactive QR Code Menus!</Translation>
    <Translation Language="he">אוכל מענג: חקור את תפריטי קוד ה-QR האינטראקטיביים שלנו!</Translation>
    <Translation Language="ru">Восхитительные блюда: изучите наши интерактивные меню с QR-кодом!</Translation>
  </Translations>
</Dictionary>