<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="02fabb4c-95bb-4be7-95b0-ebdacdd592cd" Alias="Delightful dining title html" Level="1">
  <Info>
    <Parent>Digital Menu</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Delightful Dining: Explore Our Interactive QR Code Menus! 
Go Digital, Boost Your Business: Introducing QR Code Menus for your restaurant!</Translation>
    <Translation Language="he">אוכל מענג: חקור את תפריטי קוד ה-QR האינטראקטיביים שלנו!
הפוך לדיגיטל, שפר את העסק שלך: הצגת תפריטי QR Code למסעדה שלך!</Translation>
    <Translation Language="ru">Восхитительные блюда: изучите наши интерактивные меню с QR-кодом!
Переходите на цифровые технологии, развивайте свой бизнес: представляем меню с QR-кодом для вашего ресторана!</Translation>
  </Translations>
</Dictionary>