<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="72c7b4da-a701-4c7b-9ea2-eb288e98cb5c" Alias="Description" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">If you already have Menu4U account, just enter your login and password to login. If you don't have Menu4U account, enter your email and choose "NO, I'm a new customer" to complete your signup.</Translation>
    <Translation Language="he">אם כבר יש לך חשבון Menu4U, פשוט הזן את שם המשתמש והסיסמה שלך כדי להתחבר. אם אין לך חשבון Menu4U, הזן את הדוא"ל שלך ובחר "לא, אני לקוח חדש" להשלמת ההרשמה שלך.</Translation>
    <Translation Language="ru">Если у вас уже есть аккаунт на Menu4U, просто введите свой логин и пароль. Если же у вас нет аккаунта на Menu4U, введите ваш email и  выберете пункт: "Нет, я новый покупатель" что бы закончить вашу регистрацию.</Translation>
  </Translations>
</Dictionary>