<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e7b7ef00-70b3-4092-ad1a-5dda7d7221e5" Alias="Design your floor plan" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">&lt;span style="color: var(--color-accent);"&gt;Design&lt;/span&gt; your floor plan</Translation>
    <Translation Language="he">&lt;span style="color: var(--color-accent);"&gt;עצבו&lt;/span&gt; את תוכנית הקומה שלכם</Translation>
    <Translation Language="ru">&lt;span style="color: var(--color-accent);"&gt;Спроектируйте&lt;/span&gt; ваш план этажа</Translation>
  </Translations>
</Dictionary>