<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b268c7e1-0b43-4286-af0f-766fb60ea0a4" Alias="DisplaytheQRCode-Title" Level="2">
  <Info>
    <Parent>Steps</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Display your QR barcode</Translation>
    <Translation Language="he">הציגו את הברקוד שלכם</Translation>
    <Translation Language="ru">Отобразить QR-код</Translation>
  </Translations>
</Dictionary>