<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6133e825-2269-41d7-a2ba-89e107570083" Alias="DisplaytheQRCode" Level="2">
  <Info>
    <Parent>Steps</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">You can place your QR code on any table using a desk stand, sticker or tablecloth, you can also hang at the entrance to the restaurant for a quick scan by customers.</Translation>
    <Translation Language="he">באפשרותכם להציב את הקוד QR שלכם על כל שולחן באמצעות מעמד שולחני, מדבקה או מפה, ניתן גם לתלות בכניסה למסעדה לסריקה מהירה על ידי הלקוחות.</Translation>
    <Translation Language="ru">Вы можете разместить QR-код на каждом столе с помощью настольного мольберта или стикера, а также распечатать его на небольшом флаере формата A5.</Translation>
  </Translations>
</Dictionary>