<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0c1f6d6e-aba3-4f82-8efe-685af8596d9f" Alias="Display your QR barcode" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Display your QR barcode</Translation>
    <Translation Language="he">הציגו את קוד ה-QR שלכם</Translation>
    <Translation Language="ru">Отобразите ваш QR-код</Translation>
  </Translations>
</Dictionary>