<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3a8c3124-1b39-4ca3-886e-d63a86cbb5d5" Alias="Do I need to buy extra hardware to use this POS?" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Do I need to buy extra hardware to use this POS?</Translation>
    <Translation Language="he">האם אני צריך לקנות חומרה נוספת כדי להשתמש במערכת POS זו?</Translation>
    <Translation Language="ru">Нужно ли покупать дополнительное оборудование для использования этой POS-системы?</Translation>
  </Translations>
</Dictionary>