<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f132bf14-19a0-4b42-b5a0-e83577357c36" Alias="DO YOU HAVE STARTAJOB PASSWORD?" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">DO YOU HAVE MENU4U PASSWORD?</Translation>
    <Translation Language="he">האם יש לך סיסמא שלMENU4U ?</Translation>
    <Translation Language="ru">У вас есть пароль MENU4U ?</Translation>
  </Translations>
</Dictionary>