<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c1908449-fd82-4897-9ca5-7a00caac428a" Alias="Download" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Download</Translation>
    <Translation Language="he">הורדה</Translation>
    <Translation Language="ru">Скачать</Translation>
  </Translations>
</Dictionary>