<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3fe27a50-220f-4b9f-83df-aa76a263443d" Alias="Download and print, or order professional stickers from us" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Download and print, or order professional stickers from us</Translation>
    <Translation Language="he">הורידו והדפיסו, או הזמינו מדבקות מקצועיות מאיתנו</Translation>
    <Translation Language="ru">Скачайте и распечатайте, или закажите профессиональные наклейки у нас</Translation>
  </Translations>
</Dictionary>