<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c88a0d88-139b-4bfd-9f64-011214f5e0b1" Alias="Each waiter can input customers phone numbers to manage your club members." Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Each waiter can input customers phone numbers to manage your club members.</Translation>
    <Translation Language="he">כל מלצר יכול להזין את מספרי הטלפון של הלקוחות כדי לנהל את חברי המועדון שלכם.</Translation>
    <Translation Language="ru">Каждый официант может вводить номера телефонов клиентов для управления членами вашего клуба.</Translation>
  </Translations>
</Dictionary>