<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8153df86-51b0-45a2-81b3-83acc4ba106e" Alias="easy to use" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">easy to use</Translation>
    <Translation Language="he">קל לשימוש</Translation>
    <Translation Language="ru">простой в использовании</Translation>
  </Translations>
</Dictionary>