<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="37758515-9017-42fc-a9d9-8728ef36bcc3" Alias="Emily Vargas, Manager at Olive" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Emily Vargas, Manager at Olive &amp; Thyme Bistro</Translation>
    <Translation Language="he">אמילי ורגאס, מנהלת במסעדת Olive &amp; Thyme Bistro</Translation>
    <Translation Language="ru">Эмили Варгас, менеджер в Olive &amp; Thyme Bistro</Translation>
  </Translations>
</Dictionary>