<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b62fa109-e1c9-4206-8bed-677050df67f5" Alias="Enter 4-digit code" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Enter 4-digit code</Translation>
    <Translation Language="he">הזן את הקוד בן 4 הספרות</Translation>
    <Translation Language="ru">Введите 4-значный код</Translation>
  </Translations>
</Dictionary>