<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="beaea985-3188-482e-a1dd-3fb86c00d895" Alias="Enter e-mail" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Enter your phone for login:</Translation>
    <Translation Language="he">הזן את מספר הטלפון שלך כדי להתחבר למערכת:</Translation>
    <Translation Language="ru">Введите ваш phone:</Translation>
  </Translations>
</Dictionary>