<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bd12a9a1-9245-493d-aa8f-f9b7f91f5e0b" Alias="Enter your phone number" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Enter your phone number</Translation>
    <Translation Language="he">הזן את מספר הטלפון שלך</Translation>
    <Translation Language="ru">Введите свой номер телефона</Translation>
  </Translations>
</Dictionary>