<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="22fe840f-7e01-455c-9eeb-6372be66febc" Alias="Errors.MinLengthPhone" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Minimum phone length 6 digits</Translation>
    <Translation Language="he">מספר הספרות המינימלי לטלפון: 6 </Translation>
    <Translation Language="ru">Минимальная длина  номера телефона 6 цифр</Translation>
  </Translations>
</Dictionary>