<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="37f744de-d775-4bba-92d0-3d275d0218c1" Alias="Error Page" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Sorry Error Happened. Please contact our tech support</Translation>
    <Translation Language="he">מצטערים, קרתה שגיאה. נא פנה לתמיכה הטכנית שלנו</Translation>
    <Translation Language="ru">Извините, произошла ошибка. Пожалуйста, свяжитесь с нашей технической поддержкой</Translation>
  </Translations>
</Dictionary>