<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9907f217-4e07-47ff-ad85-74e8083ec204" Alias="Errors.Registration_Default" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Customer exists with this e-mail / mobile
</Translation>
    <Translation Language="he">הלקוח קיים באמצעות כתובת דואר אלקטרוני /מספר נייד זה</Translation>
    <Translation Language="ru">Клиент существует с этим адресом электронной почты / мобильного телефона</Translation>
  </Translations>
</Dictionary>