<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dfa488d0-2a6b-46cd-9ffe-ed7c6d1aa9b6" Alias="Errors.MaxLengthPhone" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Maximum phone length 16</Translation>
    <Translation Language="he">מספר הספרות המרבי עבור טלפון: 16 </Translation>
    <Translation Language="ru">Максимальная длина номера телефона 16</Translation>
  </Translations>
</Dictionary>