<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0643f9bd-7cf9-426d-970e-703c6cf964a4" Alias="Errors.Password_does_not_match" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Password does not match</Translation>
    <Translation Language="he">סיסמה שגויה</Translation>
    <Translation Language="ru">Пароль не подходит</Translation>
  </Translations>
</Dictionary>