<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0f57576b-4313-4cfe-96d1-e2c0ce4c6a45" Alias="Everything you need, in one place" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Everything you need, in one place</Translation>
    <Translation Language="he">כל מה שאתה צריך, במקום אחד</Translation>
    <Translation Language="ru">Всё, что вам нужно, в одном месте</Translation>
  </Translations>
</Dictionary>