<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="656072e6-08b6-4c08-b8fd-f285b7fc58ba" Alias="FAQ" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">FAQ</Translation>
    <Translation Language="he">שאלות נפוצות</Translation>
    <Translation Language="ru">Часто задаваемые вопросы</Translation>
  </Translations>
</Dictionary>