<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3c9ecc36-6668-4088-9fc3-071c16aed1a4" Alias="Fast food" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Fast food</Translation>
    <Translation Language="he">פאסט פוד</Translation>
    <Translation Language="ru">Фастфуд</Translation>
  </Translations>
</Dictionary>