<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a745c5b8-7318-430b-9605-a6b0c7b9ea26" Alias="Few minor printers and payment methods configs" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Few minor printers and payment methods configs</Translation>
    <Translation Language="he">כמה הגדרות קטנות של מדפסות ושיטות תשלום</Translation>
    <Translation Language="ru">Несколько мелких настроек принтеров и способов оплаты</Translation>
  </Translations>
</Dictionary>