<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d9a77eee-76af-4f91-8166-9be88a366c6a" Alias="Follow your guests and easily transfer items to a different table, chair, or floor plan" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Follow your guests and easily transfer items to a different table, chair, or floor plan</Translation>
    <Translation Language="he">עקבו אחרי האורחים שלכם והעבירו בקלות פריטים לשולחן, כיסא או תוכנית קומה אחרת</Translation>
    <Translation Language="ru">Следите за гостями и легко переносите позиции на другой стол, стул или план этажа</Translation>
  </Translations>
</Dictionary>