<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e0e3e745-7880-47cc-b714-8020a04c76f8" Alias="Footer" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>