<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b8875a74-e39a-4d7d-8320-598a493d295a" Alias="Footer - Careers" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">&lt;a href="https://www.mekashron.com/blog/en/category/Vacancies" target="_self" class="kd-fadeIn"&gt;Jobs&lt;/a&gt;</Translation>
    <Translation Language="he">&lt;a href="https://www.mekashron.com/blog/en/category/Vacancies" target="_self" class="kd-fadeIn"&gt;דרושים&lt;/a&gt;</Translation>
    <Translation Language="ru">&lt;a href="https://www.mekashron.com/blog/en/category/Vacancies" target="_self" class="kd-fadeIn"&gt;Карьера&lt;/a&gt;</Translation>
  </Translations>
</Dictionary>