<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="240c8f71-263e-428c-a198-b6d6b6816252" Alias="Footer - Column Mekashron" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">&lt;h5 class="ftr-head kd-fadeIn"&gt;Mekashron&lt;/h5&gt;
        &lt;ul class="list-unstyled text-small"&gt;
          &lt;li&gt;Making a positive first impression is essential to developing a strong customer relationship. Mekashron is powerful enough to assist any businesses.&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;</Translation>
    <Translation Language="he">&lt;h5 class="ftr-head kd-fadeIn"&gt;Mekashron&lt;/h5&gt;
        &lt;ul class="list-unstyled text-small"&gt;
          &lt;li&gt;יצירת רושם ראשוני חיובי חיונית לפיתוח יחסי לקוחות חזקים. חברת מקשרון בעלת ניסיון מוכח בקידום עסקים ומשיכת לקוחות חדשים.&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;</Translation>
    <Translation Language="ru">&lt;h5 class="ftr-head kd-fadeIn"&gt;Mekashron&lt;/h5&gt;
        &lt;ul class="list-unstyled text-small"&gt;
          &lt;li&gt;Создание положительного первого впечатления необходимо для развития прочных отношений с клиентами. Mekashron достаточно мощный, чтобы помочь любому бизнесу.&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;</Translation>
  </Translations>
</Dictionary>