<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b459f777-0b78-433b-bcf0-d3c2ab631186" Alias="Footer - Column Our products" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"> &lt;h5 class="ftr-head kd-fadeIn"&gt;Our products&lt;/h5&gt;
        &lt;ul class="list-unstyled text-small"&gt;
          &lt;li&gt;&lt;a href="https://www.mekashron.com/blog/en/page/Business-CRM" target="_self" class="kd-fadeIn"&gt;CRM for Business&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="https://www.mekashron.com/blog/en/page/Call-Center-CRM" target="_self" class="kd-fadeIn"&gt;CRM for Call Centers&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="https://www.mekashron.com/blog/en/page/Cheque-printing-software" target="_self" class="kd-fadeIn"&gt;Cheque printing software&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="https://www.mekashron.com/blog/en/page/Retailer-POS" target="_self"&gt;POS for Retailers&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="https://www.mekashron.com/blog/en/page/Restaurant-POS" target="_self"&gt;POS for Restaurants&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;</Translation>
    <Translation Language="he"> &lt;h5 class="ftr-head kd-fadeIn"&gt;המוצרים שלנו&lt;/h5&gt;
        &lt;ul class="list-unstyled text-small"&gt;
          &lt;li&gt;&lt;a href="https://www.mekashron.com/blog/en/page/Business-CRM" target="_self" class="kd-fadeIn"&gt;CRM לעסקים&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="https://www.mekashron.com/blog/en/page/Call-Center-CRM" target="_self" class="kd-fadeIn"&gt;CRM למוקדים טלפוניים&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="https://www.mekashron.com/blog/en/page/Cheque-printing-software" target="_self" class="kd-fadeIn"&gt;בדוק תוכנת הדפסה&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="https://www.mekashron.com/blog/en/page/Retailer-POS" target="_self"&gt;קופה לקמעונאים&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="https://www.mekashron.com/blog/en/page/Restaurant-POS" target="_self"&gt;קופה למסעדות&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;</Translation>
    <Translation Language="ru"> &lt;h5 class="ftr-head kd-fadeIn"&gt;Наши продукты&lt;/h5&gt;
        &lt;ul class="list-unstyled text-small"&gt;
          &lt;li&gt;&lt;a href="/blog/en/page/Business-CRM" target="_self" class="kd-fadeIn"&gt;CRM for Business&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="/blog/en/page/Call-Center-CRM" target="_self" class="kd-fadeIn"&gt;CRM for Call Centers&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="/blog/en/page/Cheque-printing-software" target="_self" class="kd-fadeIn"&gt;Cheque printing software&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="/blog/en/page/Retailer-POS" target="_self"&gt;POS for Retailers&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="/blog/en/page/Restaurant-POS" target="_self"&gt;POS for Restaurants&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;</Translation>
  </Translations>
</Dictionary>