<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ee481c6c-14ff-4c0b-a0cd-9e850843202c" Alias="Footer - About Mekashron" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">&lt;a href="https://www.mekashron.com/blog/en/page/about-us" target="_self" class="kd-fadeIn"&gt;About Mekashron&lt;/a&gt;</Translation>
    <Translation Language="he">&lt;a href="https://www.mekashron.com/blog/en/page/about-us" target="_self" class="kd-fadeIn"&gt;אודות מקשרון&lt;/a&gt;</Translation>
    <Translation Language="ru">&lt;a href="https://www.mekashron.com/blog/en/page/about-us" target="_self" class="kd-fadeIn"&gt;Про Mekashron&lt;/a&gt;</Translation>
  </Translations>
</Dictionary>