<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1dd63042-2246-451d-a446-b8e95573050d" Alias="Footer - Copyright" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Mekashron. All rights reserved. </Translation>
    <Translation Language="he">מקשרון. כל הזכויות שמורות.</Translation>
    <Translation Language="ru">Mekashron. Все права защищены.</Translation>
  </Translations>
</Dictionary>