<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="57abbbcc-ad24-4486-ae88-d0e26ef0f901" Alias="Footer - Contact" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">&lt;a href="/blog/en/page/contactus" target="_self" class="kd-fadeIn"&gt;Contact&lt;/a&gt;</Translation>
    <Translation Language="he">&lt;a href="/blog/he/page/צור-קשר-תוכנה-למסעדות" target="_self" class="kd-fadeIn"&gt;צור קשר&lt;/a&gt;</Translation>
    <Translation Language="ru">&lt;a href="/blog/en/page/contactus" target="_self" class="kd-fadeIn"&gt;Котанкты&lt;/a&gt;</Translation>
  </Translations>
</Dictionary>