<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="636f657a-fcf0-4019-bd53-6b93c7158380" Alias="Footer - Column About" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"> &lt;h5 class="ftr-head kd-fadeIn"&gt;About&lt;/h5&gt;
        &lt;ul class="list-unstyled text-small"&gt;
          &lt;li&gt;&lt;a href="/blog/en/page/contactus" target="_self"&gt;Contact us&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;</Translation>
    <Translation Language="he"> &lt;h5 class="ftr-head kd-fadeIn"&gt; אודות&lt;/h5&gt;
        &lt;ul class="list-unstyled text-small"&gt;
          &lt;li&gt;&lt;a href="/blog/he/page/צור-קשר-תוכנה-למסעדות" target="_self"&gt;צור קשר&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;</Translation>
    <Translation Language="ru"> &lt;h5 class="ftr-head kd-fadeIn"&gt;About&lt;/h5&gt;
        &lt;ul class="list-unstyled text-small"&gt;
          &lt;li&gt;&lt;a href="/blog/en/page/contactus" target="_self"&gt;Связаться с нами&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;</Translation>
  </Translations>
</Dictionary>