<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="853c91bf-c9a2-47a1-b1f8-5e8472d2f901" Alias="Footer - Customer care" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">&lt;a href="/blog/en/page/contactus" target="_self" class="kd-fadeIn"&gt;Customer care&lt;/a&gt;</Translation>
    <Translation Language="he">&lt;a href="/blog/he/page/צור-קשר-תוכנה-למסעדות" target="_self" class="kd-fadeIn"&gt;שירות לקוחות&lt;/a&gt;</Translation>
    <Translation Language="ru">&lt;a href="/blog/en/page/contactus" target="_self" class="kd-fadeIn"&gt;Обслуживание клиентов&lt;/a&gt;</Translation>
  </Translations>
</Dictionary>