<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9c372ff3-43d6-40d8-bfe7-738500121872" Alias="Footer - Column Additional links" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">        &lt;h5 class="ftr-head kd-fadeIn"&gt;Additional links&lt;/h5&gt;
        &lt;ul class="list-unstyled text-small"&gt;
          &lt;li&gt;&lt;a href="/he" target="_self" class="kd-fadeIn"&gt;עברית&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="/ru" target="_self" class="kd-fadeIn"&gt;русский&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;</Translation>
    <Translation Language="he">        &lt;h5 class="ftr-head kd-fadeIn"&gt;קישורים נוספים&lt;/h5&gt;
        &lt;ul class="list-unstyled text-small"&gt;
          &lt;li&gt;&lt;a href="/" target="_self" class="kd-fadeIn"&gt;English&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="/ru" target="_self" class="kd-fadeIn"&gt;русский&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;</Translation>
    <Translation Language="ru">        &lt;h5 class="ftr-head kd-fadeIn"&gt;Дополнительные ссылки&lt;/h5&gt;
        &lt;ul class="list-unstyled text-small"&gt;
          &lt;li&gt;&lt;a href="/" target="_self" class="kd-fadeIn"&gt;English&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="/he" target="_self" class="kd-fadeIn"&gt;עברית&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;</Translation>
  </Translations>
</Dictionary>