<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="aebbcaca-9194-4701-87a7-6be522c830f0" Alias="Footer - Press" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">&lt;a href="/blog/en/page/contactus" target="_self" class="kd-fadeIn"&gt;Press&lt;/a&gt;</Translation>
    <Translation Language="he">&lt;a href="/blog/en/page/contactus" target="_self" class="kd-fadeIn"&gt;לחץ&lt;/a&gt;</Translation>
    <Translation Language="ru">&lt;a href="/blog/en/page/contactus" target="_self" class="kd-fadeIn"&gt;Нажмите&lt;/a&gt;</Translation>
  </Translations>
</Dictionary>