<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="422df537-876c-4366-ad7c-d397f50b6906" Alias="For Restaurants" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">For Restaurants</Translation>
    <Translation Language="he">למסעדות</Translation>
    <Translation Language="ru">Для ресторанов</Translation>
  </Translations>
</Dictionary>