<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ecc834ba-3198-4f55-be64-4c75349bca51" Alias="For Retail" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">For Retail</Translation>
    <Translation Language="he">לקמעונאות</Translation>
    <Translation Language="ru">Для розничной торговли</Translation>
  </Translations>
</Dictionary>