<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5c4534fc-995d-463b-8934-23c169efb1aa" Alias="For Hotels" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">For Hotels</Translation>
    <Translation Language="he">לבתי מלון</Translation>
    <Translation Language="ru">Для отелей</Translation>
  </Translations>
</Dictionary>