<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b1678838-8067-406e-81a3-69e333c4b70e" Alias="Forgot your password?" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Forgot your password?</Translation>
    <Translation Language="he">שכחת את הסיסמה שלך?</Translation>
    <Translation Language="ru">Забыли пароль?</Translation>
  </Translations>
</Dictionary>