<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b168f56d-52fa-4c02-8d05-769ccca7fa51" Alias="Forgot password?" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Forgot password?</Translation>
    <Translation Language="he">שכחת את הסיסמא?</Translation>
    <Translation Language="ru">Забыли пароль?</Translation>
  </Translations>
</Dictionary>