<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b6976cef-74dc-4826-ae62-fdff9c9e1747" Alias="Full club members and loyalty management" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">&lt;span style="color: var(--color-accent);"&gt;Full club&lt;/span&gt; members and loyalty management</Translation>
    <Translation Language="he">&lt;span style="color: var(--color-accent);"&gt;ניהול מועדון מלא&lt;/span&gt; וחברי מועדון ונאמנות</Translation>
    <Translation Language="ru">&lt;span style="color: var(--color-accent);"&gt;Полное управление клубом&lt;/span&gt; членами и программой лояльности</Translation>
  </Translations>
</Dictionary>