<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="371a7eee-1ad2-44a7-a6c6-cc129c970868" Alias="Functions" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Functions</Translation>
    <Translation Language="he">פונקציות</Translation>
    <Translation Language="ru">Функции</Translation>
  </Translations>
</Dictionary>