<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="15276acd-9f52-4061-ae5e-a3079cf0a1ff" Alias="Get Started" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Get Started</Translation>
    <Translation Language="he">התחל עכשיו</Translation>
    <Translation Language="ru">Начать</Translation>
  </Translations>
</Dictionary>