<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1b127981-46a8-4e60-b0df-cb3976ae4c48" Alias="Get unrestricted access" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Get unrestricted access to all your data and reports via iPad, mobile phone, or desktop computer. From granular sales data to trending menu items and an overall view of your business, all the information you need to make intelligent decisions for your restaurant is in your POS.</Translation>
    <Translation Language="he">קבלו גישה בלתי מוגבלת לכל הנתונים והדוחות שלכם דרך iPad, טלפון נייד או מחשב שולחני. מנתוני מכירות מפורטים ועד פריטי תפריט פופולריים ותצוגה כוללת של העסק שלכם — כל המידע הדרוש לקבלת החלטות חכמות עבור המסעדה שלכם נמצא במערכת ה-POS שלכם.</Translation>
    <Translation Language="ru">Получите неограниченный доступ ко всем вашим данным и отчётам через iPad, мобильный телефон или настольный компьютер. От детализированных данных о продажах до популярных позиций меню и общего обзора вашего бизнеса — вся необходимая информация для принятия умных решений для вашего ресторана находится в вашей POS-системе.</Translation>
  </Translations>
</Dictionary>