<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="593854cd-3ac5-442e-bcee-126793ab496e" Alias="Get your QR code" Level="2">
  <Info>
    <Parent>Steps</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Get your QR code</Translation>
    <Translation Language="he">קבלו את הברקוד שלכם</Translation>
    <Translation Language="ru">Получить ваш QR code</Translation>
  </Translations>
</Dictionary>