<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2eb3874f-19ad-4eb7-b3ba-94de84b72ee9" Alias="Go contactless" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Go contactless</Translation>
    <Translation Language="he">עברו ללא מגע</Translation>
    <Translation Language="ru">Перейдите на бесконтактное обслуживание</Translation>
  </Translations>
</Dictionary>