<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="73afd2e5-ed91-4e73-ae1a-9c10a09825b9" Alias="Go Digital" Level="1">
  <Info>
    <Parent>Digital Menu</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Go Digital, Boost Your Business: Introducing QR Code Menus for your restaurant</Translation>
    <Translation Language="he">הפוך לדיגיטל, שפר את העסק שלך: הצגת תפריטי QR Code למסעדה שלך</Translation>
    <Translation Language="ru">Переходите на цифровые технологии, развивайте свой бизнес: представляем меню с QR-кодом для вашего ресторана</Translation>
  </Translations>
</Dictionary>