<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dff0823f-32d8-4634-8baa-771c39d6ceb2" Alias="GoContactLessTitle" Level="2">
  <Info>
    <Parent>HowWorks</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Go Contactless</Translation>
    <Translation Language="he">הציבו את הברקוד במקום בולט לשימוש הלקוחות</Translation>
    <Translation Language="ru">Бесконтактный</Translation>
  </Translations>
</Dictionary>