<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e51d0e71-7cd9-4768-94e5-9b8e13dfd043" Alias="GoContactLess" Level="2">
  <Info>
    <Parent>HowWorks</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Place your QR codes on easy to access surfaces such as tables or walls for quick scanning</Translation>
    <Translation Language="he">הציבו את ברקוד QR שלכם במקומות נגישים ומותאמים לסריקה, כגון שולחנות וקירות.</Translation>
    <Translation Language="ru">Поместите свои QR-коды на легкодоступные поверхности, такие как столы или стены, для быстрого сканирования</Translation>
  </Translations>
</Dictionary>