<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dae19cdf-a5cc-4eb3-8788-dccb8a26d5a8" Alias="Guides, videos, demos" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Guides, videos, demos</Translation>
    <Translation Language="he">מדריכים, סרטונים, הדגמות</Translation>
    <Translation Language="ru">Руководства, видео, демонстрации</Translation>
  </Translations>
</Dictionary>