<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a78e8750-7c1e-4c0c-a5e9-c0f0d3a63ecc" Alias="Handle all swipes, taps, tips, and splits with an EMV-compliant terminal restaurant POS software at no extra cost. If you're on the go, offer fast mobile payments with our integration solution." Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Handle all swipes, taps, tips, and splits with an EMV-compliant terminal restaurant POS software at no extra cost. If you're on the go, offer fast mobile payments with our integration solution.</Translation>
    <Translation Language="he">טפלו בכל החלקות, נגיעות, טיפים וחלוקות עם תוכנת POS למסעדות התואמת EMV ללא עלות נוספת. אם אתם בתנועה, הציעו תשלומים מהירים במובייל באמצעות פתרון האינטגרציה שלנו.</Translation>
    <Translation Language="ru">Обрабатывайте все свайпы, касания, чаевые и разделение счетов с помощью POS-системы для ресторанов с EMV-терминалом без дополнительных затрат. Если вы в движении, предлагайте быстрые мобильные платежи с нашим интеграционным решением.</Translation>
  </Translations>
</Dictionary>