<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6ec438ab-0ba9-45fa-8541-623a2cb594c7" Alias="Home Page" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>