<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="90b1b5f8-d37b-40c8-8000-f5d57731f275" Alias="Hotels" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Hotels</Translation>
    <Translation Language="he">בתי מלון</Translation>
    <Translation Language="ru">Отели</Translation>
  </Translations>
</Dictionary>