<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="557d2319-7d7b-4283-a21a-a19a688690b2" Alias="How it works" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">How it works</Translation>
    <Translation Language="he">איך זה עובד</Translation>
    <Translation Language="ru">Как это работает</Translation>
  </Translations>
</Dictionary>