<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2db6e59f-5bbd-4c85-ba4b-60c13a91f83a" Alias="How easy? In just 20 minutes, your POS will be up and running." Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">How easy? In just 20 minutes, your POS will be up and running.</Translation>
    <Translation Language="he">כמה קל? תוך 20 דקות בלבד, מערכת ה-POS שלכם תהיה פעילה</Translation>
    <Translation Language="ru">Насколько это просто? Всего за 20 минут ваша POS-система будет готова к работе.</Translation>
  </Translations>
</Dictionary>