<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="78114ea4-7d18-463a-8da2-64a7355e0e90" Alias="HowWorks" Level="1">
  <Info>
    <Parent>Contactless-menu</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">How contactless menu work:</Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>