<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a496f608-a0c4-435e-b65a-fbbba672434f" Alias="If the phone number" Level="1">
  <Info>
    <Parent>VerifyPhonePage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">If the phone number </Translation>
    <Translation Language="he">אם מספר הטלפון</Translation>
    <Translation Language="ru">Если номер телефона</Translation>
  </Translations>
</Dictionary>