<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="67c11d0a-eeda-492c-975c-d173877dd35d" Alias="If you don’t receive our SMS:" Level="1">
  <Info>
    <Parent>VerifyPhonePage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">If you don’t receive our SMS:</Translation>
    <Translation Language="he">אם אינך מקבל את ה- SMS שלך:</Translation>
    <Translation Language="ru">Если вы не получили SMS:</Translation>
  </Translations>
</Dictionary>