<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8aaee162-92ee-4990-88e1-8e3a18269cfa" Alias="In 20 minutes" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">&lt;span style="color: var(--color-accent);"&gt;In 20 minutes&lt;/span&gt;, you will have a running POS solution</Translation>
    <Translation Language="he">&lt;span style="color: var(--color-accent);"&gt;בעשרים דקות&lt;/span&gt;, יהיה לכם פתרון POS פועל</Translation>
    <Translation Language="ru">&lt;span style="color: var(--color-accent);"&gt;Через 20 минут&lt;/span&gt; у вас будет работающая POS-система</Translation>
  </Translations>
</Dictionary>