<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9ec0e249-d086-4d67-a762-c2c7c63c3fe2" Alias="InfoUser.Phone" Level="2">
  <Info>
    <Parent>Info</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Phone Number</Translation>
    <Translation Language="he">מספר טלפון</Translation>
    <Translation Language="ru">Номер телефона</Translation>
  </Translations>
</Dictionary>