<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b1453f77-f2a2-4589-bca1-47c104736f24" Alias="InfoUser.ConfirmPassword" Level="2">
  <Info>
    <Parent>Info</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Confirm password
</Translation>
    <Translation Language="he">אשר סיסמה</Translation>
    <Translation Language="ru">Подтвердить Пароль</Translation>
  </Translations>
</Dictionary>