<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="df3916aa-9d59-4b02-a749-9d758c7d524a" Alias="InfoUser.CountryCode" Level="2">
  <Info>
    <Parent>Info</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Country</Translation>
    <Translation Language="he">מדינה</Translation>
    <Translation Language="ru">Страну</Translation>
  </Translations>
</Dictionary>