<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="224052cd-b175-4cb8-997a-596017f4e7d5" Alias="InfoUser.Email" Level="2">
  <Info>
    <Parent>Info</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Email</Translation>
    <Translation Language="he">כתובת מייל</Translation>
    <Translation Language="ru">Email</Translation>
  </Translations>
</Dictionary>