<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e2e0153d-960f-4a2b-b421-e5b3a1fa4a86" Alias="InfoUser.Name" Level="2">
  <Info>
    <Parent>Info</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Name </Translation>
    <Translation Language="he">שֵׁם</Translation>
    <Translation Language="ru">Имя</Translation>
  </Translations>
</Dictionary>