<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="661953ca-0f77-468c-913b-bbcca8a6fe13" Alias="InfoUser.Password" Level="2">
  <Info>
    <Parent>Info</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Password</Translation>
    <Translation Language="he">סיסמה</Translation>
    <Translation Language="ru">Пароль</Translation>
  </Translations>
</Dictionary>