<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="329df3ce-e03d-428b-8e9a-37f5f41daf18" Alias="Input your menu, waiters, and tables or import automatically from your old POS" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Input your menu, waiters, and tables or import automatically from your old POS</Translation>
    <Translation Language="he">הכניסו את התפריט, המלצרים והשולחנות שלכם או ייבאו אוטומטית מה-POS הישן שלכם</Translation>
    <Translation Language="ru">Введите ваше меню, официантов и столы или импортируйте автоматически из вашей старой POS-системы</Translation>
  </Translations>
</Dictionary>