<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ebfa64c1-0c9b-4972-9139-23cdb1ce25b1" Alias="Instruct your waiters to install menu4u app or/and Install it on your Windows PC or tablet as a fixed POS" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Instruct your waiters to install menu4u app or/and Install it on your Windows PC or tablet as a fixed POS</Translation>
    <Translation Language="he">הנחו את המלצרים שלכם להתקין את אפליקציית menu4u או/ו התקינו אותה על מחשב Windows או טאבלט כ-POS קבוע</Translation>
    <Translation Language="ru">Инструктируйте ваших официантов установить приложение menu4u или/и установите его на ваш Windows ПК или планшет как стационарную POS-систему</Translation>
  </Translations>
</Dictionary>