<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="542a93d2-4aa4-4347-bf10-ffc6038bc488" Alias="Instant Activation" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Instant Activation</Translation>
    <Translation Language="he">הפעלה מיידית</Translation>
    <Translation Language="ru">Мгновенная активация</Translation>
  </Translations>
</Dictionary>