<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dbd6e0b6-28b7-43f0-8a76-42a062e0ff7d" Alias="Installation" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Installation</Translation>
    <Translation Language="he">התקנה</Translation>
    <Translation Language="ru">Установка</Translation>
  </Translations>
</Dictionary>