<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5839208a-3901-483b-85f2-c85eb7a8f861" Alias="is incorrect, change it by clicking on" Level="1">
  <Info>
    <Parent>VerifyPhonePage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">is incorrect, change it by clicking on "Change phone"</Translation>
    <Translation Language="he">אינו נכון, שנה אותו על ידי לחיצה על "שנה מספר טלפון"</Translation>
    <Translation Language="ru">неверно, измените его, нажав «Сменить телефон»</Translation>
  </Translations>
</Dictionary>