<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="935598a0-80a8-40d0-9110-77bd54c22b49" Alias="Is support really available 24/7?" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Is support really available 24/7?</Translation>
    <Translation Language="he">האם התמיכה זמינה באמת 24/7?</Translation>
    <Translation Language="ru">Поддержка действительно доступна круглосуточно?</Translation>
  </Translations>
</Dictionary>