<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b88331e7-07a1-45a5-bd4d-267ddf1d09c9" Alias="Jobs" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Jobs</Translation>
    <Translation Language="he">משרות</Translation>
    <Translation Language="ru">Вакансии</Translation>
  </Translations>
</Dictionary>