<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="61546554-bf56-4c5c-a618-877f345cde0b" Alias="JoinBusinessButtonTitle" Level="2">
  <Info>
    <Parent>Step 3</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Join Business</Translation>
    <Translation Language="he">הצטרף</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>