<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="12f50892-fcf7-4d14-8c15-0429212f2701" Alias="Kitchen printers designed for hot and humid environments" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Kitchen printers designed for hot and humid environments, kitchen buzzers that cut through noisy rushes, LiteServers that let you keep working offline and more — our top-quality restaurant hardware explicitly tailored to your needs that can handle the hustle of your busiest shifts.</Translation>
    <Translation Language="he">מדפסות מטבח המיועדות לסביבות חמות ולחות, זמזמי מטבח שחודרים דרך רעש השיא, LiteServers שמאפשרים לך להמשיך לעבוד גם במצב לא מקוון ועוד — ציוד המסעדה האיכותי ביותר שלנו, מותאם במיוחד לצרכים שלך, שמסוגל להתמודד עם העומס של המשמרות העמוסות ביותר שלך.</Translation>
    <Translation Language="ru">Кухонные принтеры, разработанные для жарких и влажных условий, кухонные зуммеры, пробивающиеся сквозь шум в часы пик, LiteServer’ы, позволяющие продолжать работу в офлайн-режиме, и многое другое — наше первоклассное ресторанное оборудование специально создано для ваших нужд и способно выдержать нагрузку самых напряжённых смен.</Translation>
  </Translations>
</Dictionary>