<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1470e36a-bb7c-4738-b966-70e3a0b417e3" Alias="Know your customers, give personal service that increases tips to waiters and returning customers." Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Know your customers, give personal service that increases tips to waiters and returning customers.</Translation>
    <Translation Language="he">הכירו את הלקוחות שלכם, העניקו שירות אישי שמגדיל את הטיפים למלצרים ואת חזרת הלקוחות.</Translation>
    <Translation Language="ru">Знайте своих клиентов, предоставляйте персонализированный сервис, который увеличивает чаевые официантам и возвращаемость клиентов.</Translation>
  </Translations>
</Dictionary>