<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3be577a7-1c61-4994-877d-b1269140ebc0" Alias="Launch" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Launch</Translation>
    <Translation Language="he">השקה</Translation>
    <Translation Language="ru">Запус</Translation>
  </Translations>
</Dictionary>