<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1962d1d5-41d4-4efa-a70c-9e8ee9a4d4a5" Alias="Let’s start" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Let’s start</Translation>
    <Translation Language="he">בואו נתחיל</Translation>
    <Translation Language="ru">Давайте начнем</Translation>
  </Translations>
</Dictionary>