<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6df71e6e-1502-4413-92eb-9a9a341de300" Alias="Login" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Login</Translation>
    <Translation Language="he">התחבר</Translation>
    <Translation Language="ru">Авторизоваться</Translation>
  </Translations>
</Dictionary>