<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="391db253-b556-4fb4-aade-2f32db56805a" Alias="Logout" Level="1">
  <Info>
    <Parent>Header</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Logout</Translation>
    <Translation Language="he">התנתק</Translation>
    <Translation Language="ru">Выйти</Translation>
  </Translations>
</Dictionary>