<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="175fb32d-e259-4a19-bd49-073654c3d136" Alias="Manage my restaurant" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Manage my restaurant</Translation>
    <Translation Language="he">נהל את המסעדה שלי</Translation>
    <Translation Language="ru">Управлять моим рестораном</Translation>
  </Translations>
</Dictionary>