<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="db8a2d17-eafe-4d41-8e3d-53fad1fb0908" Alias="Manage all your locations" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Manage all your locations in one system Generate multi-location reports to monitor your overall performance &lt;br&gt; Edit all your menus for all locations, no matter where you are, with no delay Scale with a fully-featured solution you'll never outgrow</Translation>
    <Translation Language="he">נהל את כל הסניפים שלך במערכת אחת. הפק דוחות מרובי סניפים כדי לעקוב אחר הביצועים הכוללים שלך. &lt;br&gt; ערוך את כל התפריטים לכל הסניפים, לא משנה היכן אתה נמצא, ללא עיכוב. התרחב עם פתרון מלא תכונות שלעולם לא תצא ממנו.</Translation>
    <Translation Language="ru">Управляйте всеми своими точками в одной системе. Создавайте отчёты по нескольким локациям, чтобы контролировать общую эффективность. &lt;br&gt; Редактируйте все меню для всех локаций, где бы вы ни находились, без задержек. Масштабируйтесь с полнофункциональным решением, которое никогда не станет для вас ограничением.</Translation>
  </Translations>
</Dictionary>