<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="67342a4e-75cf-44f5-80ee-a19b5d0eeb9a" Alias="Marcus Bell, Owner of The Urban Spoon Group" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Marcus Bell, Owner of The Urban Spoon Group</Translation>
    <Translation Language="he">מרקוס בל, בעלים של The Urban Spoon Group</Translation>
    <Translation Language="ru">Маркус Белл, владелец The Urban Spoon Group</Translation>
  </Translations>
</Dictionary>