<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="528fac04-ae5d-46d0-b6b9-57c9b06ad60d" Alias="MaxLength.ErrorMessage" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">You have exceeded the maximum length</Translation>
    <Translation Language="he">חרגת מאורך התווים המרבי</Translation>
    <Translation Language="ru">Вы превысили максимальную длину</Translation>
  </Translations>
</Dictionary>