<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="227faf47-0144-433f-8dc2-036eb0371a3d" Alias="Message have been sent" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Message have been sent</Translation>
    <Translation Language="he">ההודעה נשלחה</Translation>
    <Translation Language="ru">Сообщение отправлено</Translation>
  </Translations>
</Dictionary>