<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9ea2b228-ceff-4d88-8687-5b0745936240" Alias="Move tables and adjust your floor plan so `your staff always know where to go" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Move tables and adjust your floor plan so &lt;b&gt;your staff always know where to go&lt;/b&gt;</Translation>
    <Translation Language="he">הזיזו שולחנות והתאימו את תוכנית הקומה שלכם כך ש-&lt;b&gt;הצוות שלכם תמיד ידע לאן לפנות&lt;/b&gt;</Translation>
    <Translation Language="ru">Перемещайте столы и настраивайте план этажа, чтобы &lt;b&gt;ваши сотрудники всегда знали, куда идти&lt;/b&gt;</Translation>
  </Translations>
</Dictionary>