<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8e8917a0-4442-4e93-895a-cfe52e03b8e0" Alias="New password" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">New password</Translation>
    <Translation Language="he">סיסמה חדשה</Translation>
    <Translation Language="ru">Новый пароль</Translation>
  </Translations>
</Dictionary>