<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="084030ea-f615-4caa-8c9a-b551b8fde496" Alias="Next" Level="1">
  <Info>
    <Parent>Digital Menu</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Next</Translation>
    <Translation Language="he">הבא</Translation>
    <Translation Language="ru">Следующая</Translation>
  </Translations>
</Dictionary>