<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="67ee6c13-4340-41a9-af58-7eef5fc7db6b" Alias="NO, I'm a new customer" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">NO, I'm a new customer</Translation>
    <Translation Language="he">לא, אני לקוח חדש</Translation>
    <Translation Language="ru">Нет, я новый пользователь</Translation>
  </Translations>
</Dictionary>