<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ba06fa58-e9e7-4455-a19f-fc7ee6ec5f99" Alias="No more printing costs — edit and publish your menu in real-time" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No more printing costs — edit and publish your menu in real-time</Translation>
    <Translation Language="he">אין יותר עלויות הדפסה — ערכו ופרסמו את התפריט שלכם בזמן אמת</Translation>
    <Translation Language="ru">Больше никаких расходов на печать — редактируйте и публикуйте меню в реальном времени</Translation>
  </Translations>
</Dictionary>