<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0d83314f-9b79-406f-a01b-d09329ef1d5b" Alias="No need to buy extra hardware or manage endless restaurant tablets just to offer quick services to customers. Each waiter installs the POS on his private mobile phone and he’s ready to go" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No need to buy extra hardware or manage endless restaurant tablets just to offer quick services to customers. Each waiter installs the POS on his private mobile phone and he’s ready to go</Translation>
    <Translation Language="he">אין צורך לקנות חומרה נוספת או לנהל אינספור טאבלטים במסעדה רק כדי להציע שירות מהיר ללקוחות. כל מלצר מתקין את מערכת ה-POS על הטלפון הפרטי שלו והוא מוכן להתחיל</Translation>
    <Translation Language="ru">Нет необходимости покупать дополнительное оборудование или управлять бесконечными планшетами в ресторане, чтобы предоставлять быстрые услуги клиентам. Каждый официант устанавливает POS на свой личный мобильный телефон, и он готов к работе</Translation>
  </Translations>
</Dictionary>