<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ef365c10-6dbb-472e-b647-562ebc605254" Alias="No need for complicated setups or third-party apps—our POS comes with automatic connections to local delivery companies." Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No need for complicated setups or third-party apps—our POS comes with automatic connections to local delivery companies.</Translation>
    <Translation Language="he">אין צורך בהגדרות מסובכות או אפליקציות צד שלישי — מערכת ה-POS שלנו מגיעה עם חיבור אוטומטי לחברות משלוחים מקומיות.</Translation>
    <Translation Language="ru">Нет необходимости в сложных настройках или сторонних приложениях — наша POS-система оснащена автоматическим подключением к локальным службам доставки.</Translation>
  </Translations>
</Dictionary>