<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b72e7f54-d074-4457-ba9f-46a40b6fc186" Alias="NotValid.ErrorMessage" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter a valid</Translation>
    <Translation Language="he"> אנא הזן תוקף כרטיס</Translation>
    <Translation Language="ru">Пожалуйста, введите правильный</Translation>
  </Translations>
</Dictionary>