<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c36d0cfe-b185-4234-bc50-4880b634d330" Alias="Offer fast transactions anywhere" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Offer fast transactions anywhere with every swipe, dip and tap of every credit, debit, and gift card. Add tips on the spot or add them later when you have time Open tabs and place orders under customer accounts Set custom tip redistribution for your team</Translation>
    <Translation Language="he">הציעו עסקאות מהירות בכל מקום עם כל החלקה, החדרה או נגיעה של כרטיסי אשראי, חיוב וכרטיסי מתנה. הוסיפו טיפים במקום או הוסיפו אותם מאוחר יותר כשיהיה לכם זמן. פתחו חשבונות והזמינו תחת חשבונות הלקוחות. קבעו הפצה מותאמת אישית של הטיפים לצוות שלכם.</Translation>
    <Translation Language="ru">Обеспечьте быстрые транзакции в любом месте с каждым свайпом, вставкой или касанием любой кредитной, дебетовой или подарочной карты. Добавляйте чаевые сразу или позже, когда у вас будет время. Открывайте счета и оформляйте заказы на аккаунты клиентов. Настройте индивидуальное распределение чаевых для вашей команды.</Translation>
  </Translations>
</Dictionary>