<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2fec518e-2db9-4d6a-a22a-84cd5e99a4e5" Alias="offer discounts to returning customers." Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">offer discounts to returning customers.</Translation>
    <Translation Language="he">הציעו הנחות ללקוחות חוזרים.</Translation>
    <Translation Language="ru">Предлагайте скидки постоянным клиентам.</Translation>
  </Translations>
</Dictionary>