<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5c05ef7d-dd92-45de-a4f0-b6c98f119588" Alias="Offer contactless payments to your customers and staff" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Offer &lt;span style="color: var(--color-accent);"&gt;contactless payments &lt;/span&gt; to your customers and staff</Translation>
    <Translation Language="he">הציעו &lt;span style="color: var(--color-accent);"&gt;תשלומים ללא מגע&lt;/span&gt; ללקוחות ולצוות שלכם</Translation>
    <Translation Language="ru">Предлагайте &lt;span style="color: var(--color-accent);"&gt;бесконтактные платежи&lt;/span&gt; вашим клиентам и персоналу</Translation>
  </Translations>
</Dictionary>