<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ba1a30ee-023d-4a25-8d7e-da368165853c" Alias="Onboarding" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Onboarding</Translation>
    <Translation Language="he">הכשרה ראשונית</Translation>
    <Translation Language="ru">Введение в работу</Translation>
  </Translations>
</Dictionary>