<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5741e2ff-2ab5-498d-91a7-5a39a3c11b81" Alias="One company to trust" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">One company to trust. One source of customer data. &lt;br&gt; 
One support team. &lt;br&gt; 
Get one fully-integrated restaurant system. &lt;br&gt; 
Choose from basic to pro add-on options to best &lt;br&gt; 
meet your needs.</Translation>
    <Translation Language="he">חברה אחת שאפשר לסמוך עליה. מקור אחד לנתוני לקוחות. &lt;br&gt; 
צוות תמיכה אחד. &lt;br&gt; 
קבלו מערכת מסעדות משולבת אחת. &lt;br&gt; 
בחרו בין אפשרויות בסיסיות לבין תוספות מקצועיות כדי &lt;br&gt; 
להתאים בצורה הטובה ביותר לצרכים שלכם.</Translation>
    <Translation Language="ru">Одна компания, которой можно доверять. Один источник данных о клиентах. &lt;br&gt; 
Одна команда поддержки. &lt;br&gt; 
Получите единую, полностью интегрированную систему для ресторанов. &lt;br&gt; 
Выберите от базовых до профессиональных дополнений, &lt;br&gt; 
чтобы наилучшим образом соответствовать вашим потребностям.</Translation>
  </Translations>
</Dictionary>