<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="67b9a745-5472-4876-8140-f8ecbf911e73" Alias="One System, Zero Hassle" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">One System, Zero Hassle</Translation>
    <Translation Language="he">מערכת אחת, ללא סיבוכים</Translation>
    <Translation Language="ru">Одна система, никаких хлопот</Translation>
  </Translations>
</Dictionary>