<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="057dd434-0bf1-403b-9f2e-463fcf6e5af0" Alias="One-Tap Order Firing" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">One-Tap Order Firing</Translation>
    <Translation Language="he">שליחת הזמנה בלחיצה אחת</Translation>
    <Translation Language="ru">Отправка заказа одним касанием</Translation>
  </Translations>
</Dictionary>