<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9ef978b3-784f-4cac-a958-7c429fd43d53" Alias="Only 4 steps" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">&lt;span style="color: var(--color-accent);"&gt;Only 4 steps&lt;/span&gt; to launch</Translation>
    <Translation Language="he">&lt;span style="color: var(--color-accent);"&gt;רק 4 שלבים&lt;/span&gt; להשקה</Translation>
    <Translation Language="ru">&lt;span style="color: var(--color-accent);"&gt;Всего 4 шага&lt;/span&gt; до запуска</Translation>
  </Translations>
</Dictionary>