<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5886aa25-8670-4b73-93fd-226b636d51e1" Alias="Open my restaurant" Level="1">
  <Info>
    <Parent>Header</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Open my restaurant</Translation>
    <Translation Language="he">פתחו את המסעדה שלי</Translation>
    <Translation Language="ru">Открыть мой ресторан</Translation>
  </Translations>
</Dictionary>