<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8ca633a8-409c-4f21-8a4f-061b281b6345" Alias="Open an account" Level="1">
  <Info>
    <Parent>Header</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Open an account</Translation>
    <Translation Language="he">פתח חשבון</Translation>
    <Translation Language="ru">Открыть аккаунт </Translation>
  </Translations>
</Dictionary>