<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0da2edef-31a9-4729-81f8-cf352033d690" Alias="Open my account" Level="1">
  <Info>
    <Parent>Header</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">My Account</Translation>
    <Translation Language="he">החשבון שלי</Translation>
    <Translation Language="ru">Мой аккаунт</Translation>
  </Translations>
</Dictionary>