<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="45b63813-b81b-44c3-be04-5b0c9c3efce3" Alias="Open an restaurant" Level="1">
  <Info>
    <Parent>Header</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Open an restaurant</Translation>
    <Translation Language="he">פתח מסעדה</Translation>
    <Translation Language="ru">Откройте ресторан</Translation>
  </Translations>
</Dictionary>