<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a801f778-4784-4055-8b59-66e0abf7b934" Alias="Opportunities" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Opportunities</Translation>
    <Translation Language="he">הזדמנויות</Translation>
    <Translation Language="ru">Возможности</Translation>
  </Translations>
</Dictionary>