<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e49008fd-3a6e-430b-85f0-774864e336fd" Alias="Order table stand" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Order table stand</Translation>
    <Translation Language="he">הזמינו מעמד שולחן</Translation>
    <Translation Language="ru">Заказать подставку для стола</Translation>
  </Translations>
</Dictionary>