<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="626fe051-bb5b-41b6-8b32-9910df87970d" Alias="Order Kiosks" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Order Kiosks</Translation>
    <Translation Language="he">קיוסקי הזמנה</Translation>
    <Translation Language="ru">Киоски заказов</Translation>
  </Translations>
</Dictionary>