<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="479032cc-dab2-41ae-b71d-ce84011a48e6" Alias="Order fancy table easel" Level="2">
  <Info>
    <Parent>Steps</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Order fancy table easel</Translation>
    <Translation Language="he">הזמינו מעמד מהודר</Translation>
    <Translation Language="ru">Заказать красивый стол-мольберт</Translation>
  </Translations>
</Dictionary>