<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="29f53510-fe46-48ff-8145-806df0042dce" Alias="Our POS was designed to continue working even if the internet or electricity goes down without worry. All the data and orders will be automatically synced once the network returns offline mode" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Our POS was designed to continue working even if the internet or electricity goes down without worry. All the data and orders will be automatically synced once the network returns offline mode</Translation>
    <Translation Language="he">מערכת ה-POS שלנו נבנתה כדי להמשיך לפעול גם אם האינטרנט או החשמל נופלים ללא דאגות. כל הנתונים וההזמנות יסונכרנו אוטומטית ברגע שהרשת תחזור למצב מקוון</Translation>
    <Translation Language="ru">Наша POS-система была разработана так, чтобы продолжать работу даже при отключении интернета или электричества без лишних забот. Все данные и заказы будут автоматически синхронизированы, как только сеть вернется в онлайн-режим
</Translation>
  </Translations>
</Dictionary>