<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e5d9a972-c8e7-484e-9a1d-3f06b2dfdfd1" Alias="Password must be at least 6 characters" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Password must be at least 6 characters</Translation>
    <Translation Language="he">הסיסמה חייבת להכיל לפחות 6 תווים</Translation>
    <Translation Language="ru">Пароль должен содержать не менее 6 символов</Translation>
  </Translations>
</Dictionary>