<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b93992a2-e82e-4d07-b205-e8ba2725f4f3" Alias="Password have been changed" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Password have been changed</Translation>
    <Translation Language="he">הסיסמה שונתה</Translation>
    <Translation Language="ru">Пароль был изменён</Translation>
  </Translations>
</Dictionary>