<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="51fa6ae6-d8fb-40a3-85a4-a5cfd3271b52" Alias="Password isn't provided" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Password isn't provided</Translation>
    <Translation Language="he">הסיסמה לא סופקה</Translation>
    <Translation Language="ru">Пароль не предоставлен</Translation>
  </Translations>
</Dictionary>