<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="76626a36-12f7-44fc-a284-b39aaed2bdaa" Alias="Performance Analysis – Instantly see which menu items, staff, and shifts are driving profits." Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Performance Analysis – Instantly see which menu items, staff, and shifts are driving profits.</Translation>
    <Translation Language="he">ניתוח ביצועים – ראה מיידית אילו מנות, צוות ומשמרות מניבות רווחים.</Translation>
    <Translation Language="ru">Анализ эффективности – мгновенно смотрите, какие позиции меню, сотрудники и смены приносят прибыль.</Translation>
  </Translations>
</Dictionary>