<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="be6d38d0-5f74-41cf-8b0b-a7fa19269afc" Alias="Place the QR codes on tables and let guests scan to order instantly" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Place the QR codes on tables and let guests scan to order instantly</Translation>
    <Translation Language="he">מקמו את קודי ה-QR על השולחנות ותנו לאורחים לסרוק ולהזמין מיידית</Translation>
    <Translation Language="ru">Разместите QR-коды на столах и позвольте гостям сканировать их для мгновенного заказа</Translation>
  </Translations>
</Dictionary>