<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bd3c8add-3d81-46db-ac8e-1d0fd858784e" Alias="Place your QR Code on tables using stands, stickers, or table tents. Make it easy for customers to scan" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Place your QR Code on tables using stands, stickers, or table tents. Make it easy for customers to scan</Translation>
    <Translation Language="he">מקמו את קוד ה-QR על השולחנות באמצעות מעמדות, מדבקות או אוהלי שולחן. הקלו על הלקוחות לסרוק</Translation>
    <Translation Language="ru">Разместите ваш QR-код на столах с помощью подставок, наклеек или настольных шатров. Сделайте сканирование удобным для гостей</Translation>
  </Translations>
</Dictionary>