<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3b443f0e-8340-4b42-a093-2496f940440d" Alias="Please specify the phone number and country code" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please specify the phone number and country code</Translation>
    <Translation Language="he">אנא ציין את מספר הטלפון וקוד המדינה</Translation>
    <Translation Language="ru">Пожалуйста, укажите номер телефона и код страны</Translation>
  </Translations>
</Dictionary>