<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="55c0af6e-7a5b-4894-81dd-0d59b5344cd2" Alias="Please wait.." Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please wait..</Translation>
    <Translation Language="he">המתן בבקשה..</Translation>
    <Translation Language="ru">Пожалуйста подождите</Translation>
  </Translations>
</Dictionary>