<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a5f01dd3-99dd-445b-aa0d-608a4a5d2f65" Alias="Please enter your realy company name." Level="2">
  <Info>
    <Parent>Step 3</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter your realy company name.</Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>