<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="246d8ea0-faac-43a2-810f-609ea1c0fd4f" Alias="Please enter your realy company number." Level="2">
  <Info>
    <Parent>Step 3</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter your realy company number.</Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>