<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3e11158a-c4cb-4501-8584-7705363715f3" Alias="Please wait" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please wait</Translation>
    <Translation Language="he">אנא המתן</Translation>
    <Translation Language="ru">Пожалуйста, подождите</Translation>
  </Translations>
</Dictionary>