<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8fb0404e-efd4-4818-9193-be50abfbcb3f" Alias="Please enter your password." Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter your password.</Translation>
    <Translation Language="he">הזן את סיסמתך בבקשה.</Translation>
    <Translation Language="ru">Пожалуйста введите ваш пароль.</Translation>
  </Translations>
</Dictionary>