<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d7a7e4e0-8a75-43e8-aa86-517091fff5b1" Alias="Please enter your realy brand name." Level="2">
  <Info>
    <Parent>Step 3</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter your realy brand name.</Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>