<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e5ec6cbe-48a4-4528-927d-e28f036af3fc" Alias="Please specify password" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please specify password</Translation>
    <Translation Language="he">אנא ציין את הסיסמה</Translation>
    <Translation Language="ru">Пожалуйста, укажите пароль</Translation>
  </Translations>
</Dictionary>