<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a1e28bbd-1725-40e2-80a1-446aaad973ee" Alias="Please enteremail" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Enter your email address</Translation>
    <Translation Language="he">הכנס את כתובת הדוא"ל שלך.</Translation>
    <Translation Language="ru">Пожалуйста, введите ваш email.</Translation>
  </Translations>
</Dictionary>