<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="952c1405-2c05-49f2-b50c-b6ba2ba57936" Alias="Please enter your realy phone number." Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter your realy phone number.</Translation>
    <Translation Language="he">אנא הזן את מספר הטלפון שלך.</Translation>
    <Translation Language="ru">Пожалуйста введите ваш номер телефона.</Translation>
  </Translations>
</Dictionary>