<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="63b01c2e-4bda-4eb0-947b-dd3ba49ee20e" Alias="Please enter your name." Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter your name.</Translation>
    <Translation Language="he"> הכנס את שמך .</Translation>
    <Translation Language="ru">Пожалуйста введите ваше имя.</Translation>
  </Translations>
</Dictionary>