<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8407c0b9-0fad-4fb0-af5e-3c0e2308feee" Alias="Please enter your realy brand adress." Level="2">
  <Info>
    <Parent>Step 3</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter your realy brand adress.</Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>