<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="04643a39-ebc2-4b42-aed0-2a312440ab4c" Alias="Please enter your realy City" Level="2">
  <Info>
    <Parent>Step 3</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter your realy City</Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>