<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2716e9f0-5ea7-4a92-9bf7-6e23bcc48dc6" Alias="POS For Restaurants" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">POS For Restaurants</Translation>
    <Translation Language="he">קופה למסעדות</Translation>
    <Translation Language="ru">POS-система для ресторанов</Translation>
  </Translations>
</Dictionary>