<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="95af9de4-71cb-4fa6-8046-e3b02726433f" Alias="Prev" Level="1">
  <Info>
    <Parent>Digital Menu</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Prev</Translation>
    <Translation Language="he">הקודם</Translation>
    <Translation Language="ru">Предыдущая</Translation>
  </Translations>
</Dictionary>