<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="34c694e1-6b1b-4e5b-8319-9a4474c7f85d" Alias="Prices" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Prices</Translation>
    <Translation Language="he">מחירים</Translation>
    <Translation Language="ru">Цены</Translation>
  </Translations>
</Dictionary>