<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="da93d085-a577-4e4d-ac67-1bae830e533d" Alias="PrintQRCode" Level="2">
  <Info>
    <Parent>HowWorks</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Download and print the QR codes on your printer or have us send you our premium easy-peel, water proof stickers</Translation>
    <Translation Language="he">קבלו דרך המערכת את ברקוד ה QR שלכם והדפיסו אותו במדפסת שלכם, או שלחו אוטומטית לבית דפוס לקבלת הדפסה מקצועית.</Translation>
    <Translation Language="ru">Загрузите и распечатайте QR-коды на своем принтере или попросите нас отправить вам наши легко снимаемые и водонепроницаемые наклейки премиум-класса.</Translation>
  </Translations>
</Dictionary>