<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8c2611ef-6518-4c88-bd8d-eab92813d071" Alias="Print your QR code" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Print your QR code</Translation>
    <Translation Language="he">הדפיסו את קוד ה-QR שלכם</Translation>
    <Translation Language="ru">Распечатайте ваш QR-код</Translation>
  </Translations>
</Dictionary>