<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="06b3693f-a551-4848-9b67-8fcf65abac91" Alias="PrintQRCodeTitle" Level="2">
  <Info>
    <Parent>HowWorks</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Print your QR barcode</Translation>
    <Translation Language="he">הדפסו את הברקוד שלכם</Translation>
    <Translation Language="ru">Распечатать QR-код</Translation>
  </Translations>
</Dictionary>