<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bd363a0e-51d4-44d9-8933-b0bfb11682e5" Alias="Privacy policy" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Privacy policy</Translation>
    <Translation Language="he">מדיניות פרטיות</Translation>
    <Translation Language="ru">Политика конфиденциальности</Translation>
  </Translations>
</Dictionary>