<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dd8e5021-7570-4c0a-856c-29748579a188" Alias="Profit Optimization – Receive alerts and insights that help reduce costs and boost earnings." Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Profit Optimization – Receive alerts and insights that help reduce costs and boost earnings.</Translation>
    <Translation Language="he">אופטימיזציית רווח – קבלו התראות ותובנות שמסייעות להקטין עלויות ולהגדיל רווחים.</Translation>
    <Translation Language="ru">Оптимизация прибыли – получайте уведомления и инсайты, которые помогают снизить затраты и увеличить доход.</Translation>
  </Translations>
</Dictionary>