<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fcd05974-404c-4cc9-a673-cf1d87eb3db2" Alias="Quick signup to create your restaurant account" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Quick signup to create your restaurant account</Translation>
    <Translation Language="he">הרשמה מהירה ליצירת חשבון המסעדה שלכם</Translation>
    <Translation Language="ru">Быстрая регистрация для создания аккаунта вашего ресторана</Translation>
  </Translations>
</Dictionary>