<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7556e96a-ae13-47ca-a177-19625c9eca8f" Alias="Read in detail" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Read in detail</Translation>
    <Translation Language="he">קראו בפירוט</Translation>
    <Translation Language="ru">Читать подробно</Translation>
  </Translations>
</Dictionary>