<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d3039191-c1e4-49f8-8324-79a29e1156d9" Alias="Register" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Register</Translation>
    <Translation Language="he">הירשם</Translation>
    <Translation Language="ru">зарегистрироваться</Translation>
  </Translations>
</Dictionary>