<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fe4cd32e-c18c-44dd-89f0-ea6ae3db6330" Alias="Registration" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Registration</Translation>
    <Translation Language="he">הרשמה</Translation>
    <Translation Language="ru">Регистрация</Translation>
  </Translations>
</Dictionary>