<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6b5cac8d-e09a-45d8-8b30-5e4217331396" Alias="Required.ErrorMessage" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please provide a</Translation>
    <Translation Language="he">אנא הקש א</Translation>
    <Translation Language="ru">Пожалуйста, предоставьте</Translation>
  </Translations>
</Dictionary>