<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="916a9f00-7514-433a-94e7-871649bf4df2" Alias="Restaurants" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Restaurants</Translation>
    <Translation Language="he">מסעדות</Translation>
    <Translation Language="ru">Рестораны</Translation>
  </Translations>
</Dictionary>