<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4a29bf93-3efc-40f8-8678-6d3c70d9d8d8" Alias="Round-the-clock support" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Round-the-clock support</Translation>
    <Translation Language="he">תמיכה 24 שעות ביממה</Translation>
    <Translation Language="ru">Круглосуточная поддержка</Translation>
  </Translations>
</Dictionary>