<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="79b4fa47-46ef-411e-8ae0-b9dfd80ad7a2" Alias="Running a restaurant means making tough calls every day. Our built-in AI helps you make those decisions with confidence by turning your data into clear, actionable insights." Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Running a restaurant means making tough calls every day. &lt;br&gt; Our built-in AI helps you make those decisions with confidence by turning your data into clear, actionable insights.</Translation>
    <Translation Language="he">ניהול מסעדה פירושו לקבל החלטות קשות מדי יום. &lt;br&gt; הבינה המלאכותית המובנית שלנו עוזרת לכם לקבל את ההחלטות האלה בביטחון על ידי הפיכת הנתונים שלכם לתובנות ברורות ומעשיות.</Translation>
    <Translation Language="ru">Ведение ресторана означает принимать трудные решения каждый день. &lt;br&gt; Встроенный ИИ помогает вам принимать эти решения уверенно, превращая ваши данные в ясные и действенные инсайты.</Translation>
  </Translations>
</Dictionary>