<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d5720fd4-5a32-4a8c-9c6b-439f9f905ce4" Alias="safe" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">safe</Translation>
    <Translation Language="he">בטוח</Translation>
    <Translation Language="ru">безопасно</Translation>
  </Translations>
</Dictionary>