<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="433df5ed-c671-4d47-b004-1348d7ea53ee" Alias="Seamless local" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Seamless Local &lt;img src="/assets/images/icons/bus.svg" alt=""&gt; &lt;br&gt;&lt;span style="color: var(--color-accent);"&gt;Delivery Integration&lt;/span&gt;</Translation>
    <Translation Language="he">אינטגרציה חלקה עם &lt;img src="/assets/images/icons/bus.svg" alt=""&gt; &lt;br&gt;&lt;span style="color: var(--color-accent);"&gt;שירותי משלוחים מקומיים&lt;/span&gt;</Translation>
    <Translation Language="ru">Бесшовная локальная &lt;img src="/assets/images/icons/bus.svg" alt=""&gt; &lt;br&gt;&lt;span style="color: var(--color-accent);"&gt;интеграция доставки&lt;/span&gt;</Translation>
  </Translations>
</Dictionary>