<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="11faa6b8-1dc7-42fc-88ef-6c402bb4b6e4" Alias="See details" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">See details</Translation>
    <Translation Language="he">צפו בפרטים</Translation>
    <Translation Language="ru">Смотреть детали</Translation>
  </Translations>
</Dictionary>