<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5cccdbda-fd2a-4e6f-9f96-096ef4fcde6d" Alias="Send" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Send</Translation>
    <Translation Language="he">שנה</Translation>
    <Translation Language="ru">Отправить</Translation>
  </Translations>
</Dictionary>