<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="62fabfa5-4cac-4c04-98a4-e4d9537b38e6" Alias="Send Again" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Send Again</Translation>
    <Translation Language="he">שלח שוב</Translation>
    <Translation Language="ru">Отправить снова</Translation>
  </Translations>
</Dictionary>