<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a32baec4-370c-4d53-bd8b-3dbc3856d00c" Alias="Set a new password" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Set a new password</Translation>
    <Translation Language="he">הגדר סיסמה חדשה</Translation>
    <Translation Language="ru">Установите новый пароль</Translation>
  </Translations>
</Dictionary>