<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d72c0d5b-3e5f-4196-8850-78b960303bd2" Alias="SignIn.Default.ErrorMessage" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Invalid Login or Password!!!</Translation>
    <Translation Language="he">קוד הכניסה או הסיסמה אינם חוקיים !!!</Translation>
    <Translation Language="ru">Неправильный логин или пароль!!!</Translation>
  </Translations>
</Dictionary>