<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9da62fc0-0033-4f5b-bacf-863b6fe72797" Alias="Signup &amp; Create your QR Code" Level="2">
  <Info>
    <Parent>Change yoo menu</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Open an account, It's Free</Translation>
    <Translation Language="he">פתח חשבון, זה חינם!</Translation>
    <Translation Language="ru">Создать свой аккаунт, это абсолютно бесплатно!</Translation>
  </Translations>
</Dictionary>