<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1fd2e9a4-f00b-438a-b1e7-3c1d45f6cb40" Alias="SignUp" Level="2">
  <Info>
    <Parent>HowWorks</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Create menu ussing our intuitive editor and publish for use 100% FREE forever!</Translation>
    <Translation Language="he">אחרי ההרשמה תוכלו ליצור תפריט ברקוד למסעדה שלך בחינם ללא הגבלת זמן.</Translation>
    <Translation Language="ru">Создавайте меню с помощью нашего интуитивно понятного редактора и публикуйте для использования БЕСПЛАТНО навсегда!</Translation>
  </Translations>
</Dictionary>