<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a381afb5-6f5f-4ce1-8dc3-d6fef4376b95" Alias="Sign In" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sign In</Translation>
    <Translation Language="he">התחברות</Translation>
    <Translation Language="ru">Войти</Translation>
  </Translations>
</Dictionary>