<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8b17cc62-0ec1-4fa9-a0d3-6530326a9433" Alias="Sign up to get your code" Level="2">
  <Info>
    <Parent>Steps</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sign up to get your QR barcode</Translation>
    <Translation Language="he">צרו את התפריט שלכם </Translation>
    <Translation Language="ru">Зарегистрируйтесь, чтобы получить ваш код</Translation>
  </Translations>
</Dictionary>