<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="71d66e5b-dbd1-489b-bf68-68b039bf4e37" Alias="SignUpTitle" Level="2">
  <Info>
    <Parent>HowWorks</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sign up to open an account</Translation>
    <Translation Language="he">הירשם לפתיחת חשבון</Translation>
    <Translation Language="ru">Зарегистрируйся что бы создать новый аккаунт </Translation>
  </Translations>
</Dictionary>