<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="851a24cc-5322-4056-b5bd-bbe0361f6d0a" Alias="Sign up in minutes and manage everything from your dashboard" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sign up in minutes and manage everything from your dashboard</Translation>
    <Translation Language="he">הרשמו תוך דקות וניהלו הכל מלוח הבקרה שלכם</Translation>
    <Translation Language="ru">Зарегистрируйтесь за несколько минут и управляйте всем с вашей панели управления</Translation>
  </Translations>
</Dictionary>