<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e73f1631-5e69-456e-acc5-3efc1b17f348" Alias="simple" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">simple</Translation>
    <Translation Language="he">פשוט</Translation>
    <Translation Language="ru">просто</Translation>
  </Translations>
</Dictionary>