<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e624b498-64af-413e-9e3a-bd3abffbf8d8" Alias="Sleek restaurant hardware with seamless POS integration" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sleek restaurant hardware with seamless POS integration</Translation>
    <Translation Language="he">ציוד מסעדה אלגנטי עם אינטגרציה חלקה למערכת ה־POS</Translation>
    <Translation Language="ru">Стильное ресторанное оборудование с бесшовной интеграцией POS-системы</Translation>
  </Translations>
</Dictionary>