<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ee3aed58-787a-4568-b752-9455e9e76b7b" Alias="SMS was sent to" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">SMS was sent to {}</Translation>
    <Translation Language="he">SMS נשלח אל {}</Translation>
    <Translation Language="ru">SMS отправлено на {}</Translation>
  </Translations>
</Dictionary>