<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e9f66ff7-6204-48ac-933a-e992200d459a" Alias="Sms Verification" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sms Verification</Translation>
    <Translation Language="he">אימות SMS</Translation>
    <Translation Language="ru">Проверка по SMS</Translation>
  </Translations>
</Dictionary>