<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e6479360-3a5a-40f1-8470-9e06a84bc8bd" Alias="Sofia Legrand, Operations Director at La Taverna" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sofia Legrand, Operations Director at La Taverna</Translation>
    <Translation Language="he">סופיה לגרנד, מנהלת תפעול ב-La Taverna</Translation>
    <Translation Language="ru">София Легран, директор по операциям в La Taverna</Translation>
  </Translations>
</Dictionary>