<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="997a7cfa-fd7b-4a92-8958-07537516a471" Alias="Solutions" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Solutions</Translation>
    <Translation Language="he">פתרונות</Translation>
    <Translation Language="ru">Решения</Translation>
  </Translations>
</Dictionary>