<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="84279ad4-d722-4a7e-89f3-c68abceb1be3" Alias="Start free now" Level="1">
  <Info>
    <Parent>Contactless-menu</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Start free now</Translation>
    <Translation Language="he">התחילו בחינם עכשיו</Translation>
    <Translation Language="ru">Начните бесплатно прямо сейчас</Translation>
  </Translations>
</Dictionary>