<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e245253d-a569-4c7b-bbe0-842814fbf69f" Alias="Stay efficient with built-in tools designed for your industry." Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Stay efficient with built-in tools designed for your industry.</Translation>
    <Translation Language="he">שמרו על יעילות עם כלים מובנים המיועדים לענף שלכם.</Translation>
    <Translation Language="ru">Оставайтесь эффективными с встроенными инструментами, разработанными для вашей отрасли.</Translation>
  </Translations>
</Dictionary>