<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="95816902-0a29-497a-8a2b-f9b78be7b1a9" Alias="Step 3" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Open your restaurant </Translation>
    <Translation Language="he">פתח את המסעדה שלך</Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>