<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a16c9502-a813-4179-b567-7f0620c08607" Alias="Step 3 Description" Level="2">
  <Info>
    <Parent>Step 3</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">If you already have Menu4U account, just enter your login and password to login. If you don't have Menu4U account, enter your email and choose "NO, I'm a new customer" to complete your signup. text</Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>