<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="784b5653-736b-409a-9367-9b9af58cb398" Alias="Step 1" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Step 1: Login or signup to an account</Translation>
    <Translation Language="he">שלב ראשון: התחברות או הרשמה לחשבון</Translation>
    <Translation Language="ru">Шаг 1: Войдите или Зарегистрируйте свой аккаунт</Translation>
  </Translations>
</Dictionary>