<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ddcd2132-e538-4511-817a-708847d7c567" Alias="Suitable for whom" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Suitable for whom</Translation>
    <Translation Language="he">מתאים עבור מי</Translation>
    <Translation Language="ru">Подходит для кого</Translation>
  </Translations>
</Dictionary>