<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="27fc018e-60f9-49af-a874-09f889846d90" Alias="The restaurant POS system that with your business" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The restaurant POS system that &lt;span style="color: var(--color-accent);"&gt;scales&lt;/span&gt; &lt;br&gt; with your &lt;span style="color: var(--color-accent);"&gt;business&lt;/span&gt;</Translation>
    <Translation Language="he">מערכת POS למסעדה ש-&lt;span style="color: var(--color-accent);"&gt;מתרחבת&lt;/span&gt; &lt;br&gt; עם &lt;span style="color: var(--color-accent);"&gt;העסק שלכם&lt;/span&gt;</Translation>
    <Translation Language="ru">POS-система для ресторана, которая &lt;span style="color: var(--color-accent);"&gt;масштабируется&lt;/span&gt; &lt;br&gt; вместе с вашим &lt;span style="color: var(--color-accent);"&gt;бизнесом&lt;/span&gt;</Translation>
  </Translations>
</Dictionary>