<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3539b8e0-75d4-463f-b370-19baed782206" Alias="Track in Real Time" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Track in Real Time</Translation>
    <Translation Language="he">מעקב בזמן אמת</Translation>
    <Translation Language="ru">Отслеживание в реальном времени</Translation>
  </Translations>
</Dictionary>