<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="db53487b-71bd-493b-9b14-ccf21efa3a95" Alias="Turn your restaurant into" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Turn your restaurant into a modern, contactless experience with QR-code powered menus</Translation>
    <Translation Language="he">הפוך את המסעדה שלך לחוויה מודרנית וללא מגע עם תפריטים המבוססים על קוד QR</Translation>
    <Translation Language="ru">Превратите свой ресторан в современное, бесконтактное пространство с меню на основе QR-кодов</Translation>
  </Translations>
</Dictionary>