<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="20bc12f0-6e95-4de7-9589-5d2ecd508065" Alias="Update your menu instantly" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">&lt;span style="color: var(--color-accent);"&gt;Update&lt;/span&gt; your menu &lt;span style="color: var(--color-accent);"&gt;instantly&lt;/span&gt;</Translation>
    <Translation Language="he">&lt;span style="color: var(--color-accent);"&gt;עדכנו&lt;/span&gt; את התפריט שלכם &lt;span style="color: var(--color-accent);"&gt;מיידית&lt;/span&gt;</Translation>
    <Translation Language="ru">&lt;span style="color: var(--color-accent);"&gt;Обновите&lt;/span&gt; ваше меню &lt;span style="color: var(--color-accent);"&gt;мгновенно&lt;/span&gt;</Translation>
  </Translations>
</Dictionary>