<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7d3ad2ba-eb34-4808-a1ae-025cffe6e127" Alias="Update your menu anytime" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Update your menu anytime</Translation>
    <Translation Language="he">עדכנו את התפריט שלכם בכל עת</Translation>
    <Translation Language="ru">Обновляйте ваше меню в любое время</Translation>
  </Translations>
</Dictionary>