<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cb2cda6d-dbef-4e71-a7ea-baeb28fbd2ff" Alias="Url Youtube" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">https://www.youtube.com/user/MekashronCRM</Translation>
    <Translation Language="he"></Translation>
    <Translation Language="ru"></Translation>
  </Translations>
</Dictionary>