<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5fd37ba0-7041-44b6-baa7-0c0f2c3e0147" Alias="Url Facebook" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">https://www.facebook.com/menu4u.tech</Translation>
    <Translation Language="he">https://www.facebook.com/menu4u.tech</Translation>
    <Translation Language="ru">https://www.facebook.com/menu4u.tech</Translation>
  </Translations>
</Dictionary>