<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6c28b7c6-169b-4d07-8574-b081fbc1f34d" Alias="Use restaurant data and reports to increase your profits" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Use restaurant data and reports to &lt;span style="color: var(--color-accent);"&gt;increase your profits&lt;/span&gt;</Translation>
    <Translation Language="he">השתמשו בנתוני מסעדה ודוחות כדי &lt;span style="color: var(--color-accent);"&gt;להגדיל את הרווחים שלכם&lt;/span&gt;</Translation>
    <Translation Language="ru">Используйте данные и отчёты ресторана, чтобы &lt;span style="color: var(--color-accent);"&gt;увеличить вашу прибыль&lt;/span&gt;</Translation>
  </Translations>
</Dictionary>