<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a8961644-adf6-4c6c-ab61-3d83f065946a" Alias="Use custom images for tables, seats and decor to properly represent your space" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Use custom images for tables, seats and decor to properly represent your space</Translation>
    <Translation Language="he">השתמשו בתמונות מותאמות אישית לשולחנות, כיסאות וקישוטים כדי לייצג נכון את החלל שלכם</Translation>
    <Translation Language="ru">Используйте собственные изображения для столов, сидений и декора, чтобы правильно представить ваше пространство</Translation>
  </Translations>
</Dictionary>