<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="97399a9f-9f46-4d79-8d6f-29c865a7e4f1" Alias="User not found" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">User not found</Translation>
    <Translation Language="he">המשתמש לא נמצא</Translation>
    <Translation Language="ru">Пользователь не найден</Translation>
  </Translations>
</Dictionary>