<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3e87539e-3297-4860-87fc-70ab3567baa4" Alias="Verification code isn't provided" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Verification code isn't provided</Translation>
    <Translation Language="he">קוד האימות לא סופק</Translation>
    <Translation Language="ru">Код подтверждения не предоставлен</Translation>
  </Translations>
</Dictionary>