<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="24a086e9-6393-4a37-a06f-e808178aaa66" Alias="Verification code already sent" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Verification code already sent</Translation>
    <Translation Language="he">קוד האימות כבר נשלח</Translation>
    <Translation Language="ru">Код подтверждения уже отправлен</Translation>
  </Translations>
</Dictionary>