<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="239dea23-b43a-4b6c-8e36-ba68e2566d02" Alias="VerifyPhonePage" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Please Verify Your Phone Number</Translation>
    <Translation Language="he">אנא אמת את מספר הטלפון שלך</Translation>
    <Translation Language="ru">Пожалуйста, подтвердите свой номер телефона</Translation>
  </Translations>
</Dictionary>