<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1f1160ec-bcbf-4fd8-b6a4-3aac97600967" Alias="Verify" Level="1">
  <Info>
    <Parent>VerifyPhonePage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Verify</Translation>
    <Translation Language="he">אשר</Translation>
    <Translation Language="ru">Проверить</Translation>
  </Translations>
</Dictionary>