<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3e6f28f7-62e4-4110-8154-96dc4f172ccd" Alias="Verification code have been sent" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Verification code have been sent</Translation>
    <Translation Language="he">קוד האימות נשלח</Translation>
    <Translation Language="ru">Код подтверждения отправлен</Translation>
  </Translations>
</Dictionary>