<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8de20928-b832-4c42-9b57-fdd4be5e9df9" Alias="Verification code is incorrect" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Verification code is incorrect</Translation>
    <Translation Language="he">קוד האימות שגוי</Translation>
    <Translation Language="ru">Код подтверждения неверный</Translation>
  </Translations>
</Dictionary>