<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="916fe382-6400-44c6-a687-02fe5d2a0b4e" Alias="We create your QR Code" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We create your QR Code</Translation>
    <Translation Language="he">אנחנו יוצרים את קוד ה-QR שלכם</Translation>
    <Translation Language="ru">Мы создаем ваш QR-код</Translation>
  </Translations>
</Dictionary>