<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="920085b7-7fe9-4c72-8557-af36fb8bb23a" Alias="We encountered a problem trying to send the code" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We encountered a problem trying to send the code</Translation>
    <Translation Language="he">נתקלנו בבעיה בעת ניסיון לשלוח את הקוד</Translation>
    <Translation Language="ru">Мы столкнулись с проблемой при попытке отправить код</Translation>
  </Translations>
</Dictionary>