<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="66db887c-4066-40e0-8f2f-4ef801a16f01" Alias="We generate a unique online page for your restaurant, including your digital menu and QR Code. You can easily update your menu at any time" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We generate a unique online page for your restaurant, including your digital menu and QR Code. You can easily update your menu at any time</Translation>
    <Translation Language="he">אנחנו יוצרים דף אונליין ייחודי למסעדה שלכם, כולל התפריט הדיגיטלי וקוד ה-QR שלכם. תוכלו לעדכן את התפריט בקלות</Translation>
    <Translation Language="ru">Мы создаем уникальную онлайн-страницу для вашего ресторана, включая цифровое меню и QR-код. Вы можете легко обновлять меню в любое время</Translation>
  </Translations>
</Dictionary>