<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2d87abc7-ab20-4773-a18a-76da8b636d34" Alias="We have encountered a problem trying to change password" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We have encountered a problem trying to change password</Translation>
    <Translation Language="he">נתקלנו בבעיה בעת ניסיון לשנות את הסיסמה</Translation>
    <Translation Language="ru">Возникла проблема при попытке изменить пароль</Translation>
  </Translations>
</Dictionary>