<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bd0abde4-7367-4c11-8c9f-1b6e8e0d49dd" Alias="We have encountered a problem trying to send verification code" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We have encountered a problem trying to send verification code</Translation>
    <Translation Language="he">נתקלנו בבעיה בעת ניסיון לשלוח את קוד האימות</Translation>
    <Translation Language="ru">Мы столкнулись с проблемой при попытке отправить код подтверждения</Translation>
  </Translations>
</Dictionary>