<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="02714ff2-8a65-4567-9e12-18e52da8aef4" Alias="We have encountered a problem trying to send restore message" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We have encountered a problem trying to send restore message</Translation>
    <Translation Language="he">נתקלנו בבעיה בעת ניסיון לשלוח הודעת שחזור</Translation>
    <Translation Language="ru">Возникла проблема при попытке отправить сообщение для восстановления</Translation>
  </Translations>
</Dictionary>