<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0b287f7e-17bf-4272-9bae-d076933575d2" Alias="We have it all, POS solution, Delivery system, Call center solution for phone and internet ordering, ecommerce. add any of the sections to your business at any time and they will seamlessly get synced." Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We have it all, POS solution, Delivery system, Call center solution for phone and internet ordering, ecommerce. add any of the sections to your business at any time and they will seamlessly get synced.</Translation>
    <Translation Language="he">&lt;span style="color: var(--color-accent);"&gt;תוכנה 360&lt;/span&gt; פתרון למסעדות קטנות או גדולות</Translation>
    <Translation Language="ru">&lt;span style="color: var(--color-accent);"&gt;360 software&lt;/span&gt; решение для маленьких и больших ресторанов</Translation>
  </Translations>
</Dictionary>