<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e3392b64-eee4-470c-89a7-4b52f30fd1a5" Alias="We have encountered a problem verifying the phone number" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We have encountered a problem verifying the phone number</Translation>
    <Translation Language="he">נתקלנו בבעיה בעת אימות מספר הטלפון</Translation>
    <Translation Language="ru">Мы столкнулись с проблемой при проверке номера телефона</Translation>
  </Translations>
</Dictionary>