<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0b9bd038-2c8d-4fb6-9c4c-e810085b4bba" Alias="We run three restaurants across the city" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We run three restaurants across the city, and this POS lets us control everything from one dashboard. Editing menus, tracking performance, managing staff — it’s all smooth and centralized. It’s the best investment we’ve made.</Translation>
    <Translation Language="he">״אנחנו מנהלים שלוש מסעדות ברחבי העיר, והממשק הזה של POS מאפשר לנו לשלוט בהכל מדשבורד אחד. עריכת תפריטים, מעקב אחרי ביצועים, ניהול צוות — הכל חלק ומרוכז. זו ההשקעה הטובה ביותר שעשינו.״</Translation>
    <Translation Language="ru">Мы управляем тремя ресторанами по всему городу, и эта POS-система позволяет нам контролировать всё с одной панели управления. Редактирование меню, отслеживание эффективности, управление персоналом — всё плавно и централизованно. Это лучшая инвестиция, которую мы сделали.</Translation>
  </Translations>
</Dictionary>