<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ccc3f967-79ce-4ec9-96f2-251b841299a1" Alias="We send SMS to" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We send SMS to</Translation>
    <Translation Language="he">אנו שולחים SMS ל-</Translation>
    <Translation Language="ru">Мы отправили SMS на</Translation>
  </Translations>
</Dictionary>