<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0c1fd50b-4786-4cb9-bd12-a9b55547cd2a" Alias="We switched to POS" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We switched to this POS system in less than a day — and it completely changed how our team works. No more chaos during dinner rush. Waiters love using their own phones, and the kitchen receives orders instantly. Honestly, it's the most efficient setup we’ve ever had.</Translation>
    <Translation Language="he">״עברנו למערכת POS זו בפחות מיום — וזה שינה לחלוטין את אופן העבודה של הצוות שלנו. אין יותר כאוס בשעות השיא של ארוחת הערב. המלצרים אוהבים להשתמש בטלפונים האישיים שלהם, והמטבח מקבל את ההזמנות מיד. בכנות, זו התצורה היעילה ביותר שהייתה לנו אי פעם.״</Translation>
    <Translation Language="ru">Мы перешли на эту POS-систему менее чем за день — и она полностью изменила работу нашей команды. Больше никакого хаоса во время обеда. Официанты с удовольствием используют свои телефоны, а кухня получает заказы мгновенно. Честно говоря, это самая эффективная система, которая у нас когда-либо была.</Translation>
  </Translations>
</Dictionary>