<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="711b4f85-98e7-4344-9e42-f479c0ac0d6d" Alias="We’ve just sent SMS to" Level="1">
  <Info>
    <Parent>VerifyPhonePage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We’ve just sent SMS to</Translation>
    <Translation Language="he">נשלח כרגע SMS אל</Translation>
    <Translation Language="ru">Мы только что отправили SMS на</Translation>
  </Translations>
</Dictionary>