<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="28856eb3-de8e-4504-97a1-a76c3e9ee6d0" Alias="WecreateyourQRCode-Title" Level="2">
  <Info>
    <Parent>Steps</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We create your QRCode</Translation>
    <Translation Language="he">תפריט ברקוד דיגיטלי למסעדה שלכם, קל!</Translation>
    <Translation Language="ru">Создаем ваш QR code</Translation>
  </Translations>
</Dictionary>