<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e78aa7b8-42ac-4d2b-b339-2782869d3e52" Alias="WecreateyourQRCode" Level="2">
  <Info>
    <Parent>Steps</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We create an online page which includes your menus as well as a QR Code unique to your restaurant as well as the accesses allowing you to update your menus at any time</Translation>
    <Translation Language="he">אנו יוצרים דף מקוון הכולל את התפריט שלכם, ברקוד QR ייחודי למסעדה שלכם, וגישות חופשית המאפשרות לכם לעדכן את התפריט שלכם בכל עת.</Translation>
    <Translation Language="ru">Мы создаем онлайн-страницу, которая включает в себя ваше меню, а также уникальный для вашего ресторана QR-код, а также средства доступа, позволяющие вам обновлять меню в любое время.</Translation>
  </Translations>
</Dictionary>