<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bfb30d69-92d8-4f79-af98-9066a8383268" Alias="Whatsapp" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">972-55-946-1380</Translation>
    <Translation Language="he">972-55-946-1380</Translation>
    <Translation Language="ru">972-55-946-1380</Translation>
  </Translations>
</Dictionary>