<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a10a1170-0747-4ffa-992b-d3aaa96a3e48" Alias="When you receive your SMS," Level="1">
  <Info>
    <Parent>VerifyPhonePage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">When you receive your SMS, &lt;strong&gt;enter verification code&lt;/strong&gt; to field below.</Translation>
    <Translation Language="he">כאשר אתה מקבל את ה- SMS שלך, &lt;strong&gt; הזן קוד אימות &lt;/ strong&gt; בשדה למטה.</Translation>
    <Translation Language="ru">Получив SMS-сообщение, &lt;strong&gt; введите проверочный код &lt;/strong&gt; в поле ниже.</Translation>
  </Translations>
</Dictionary>