<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a74156fc-35d5-48e5-8e2d-6c42ccb89e0d" Alias="Will the POS still work if the internet goes down?" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Will the POS still work if the internet goes down?</Translation>
    <Translation Language="he">האם מערכת ה-POS תמשיך לפעול אם האינטרנט ייפול?</Translation>
    <Translation Language="ru">Будет ли POS-система работать, если пропадёт интернет?</Translation>
  </Translations>
</Dictionary>