<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="da409cff-c964-4470-9151-789b70c54273" Alias="With zMenu, managing deliveries is simple, fast, and fully integrated" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">With zMenu, managing deliveries is simple, fast, and fully integrated</Translation>
    <Translation Language="he">עם zMenu, ניהול המשלוחים הוא פשוט, מהיר ומשולב במלואו</Translation>
    <Translation Language="ru">С zMenu управление доставками просто, быстро и полностью интегрировано</Translation>
  </Translations>
</Dictionary>