<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="12f64367-c90e-42ff-a0b3-315224f97555" Alias="With AI built directly into your POS, you’ll always know the next best step for your restaurant’s growth." Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">With AI built directly into your POS, you’ll always know the next best step for your restaurant’s growth.</Translation>
    <Translation Language="he">עם בינה מלאכותית המובנית ישירות במערכת ה-POS שלכם, תמיד תדעו מה הצעד הבא הטוב ביותר לצמיחת המסעדה שלכם.</Translation>
    <Translation Language="ru">С ИИ, встроенным прямо в вашу POS-систему, вы всегда будете знать следующий лучший шаг для роста вашего ресторана.</Translation>
  </Translations>
</Dictionary>