<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="97c30ded-141e-4321-b565-991ef60d671d" Alias="With just a tap and slide, increase set tables in your floor plan that reflects your restaurant layout—work from a POS system that works for you and make real-time adjustments" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">With just a tap and slide, increase set tables in your floor plan that reflects your restaurant layout—work from a POS system that works for you and make real-time adjustments</Translation>
    <Translation Language="he">בלחיצה והחלקה בלבד, הגדילו את השולחנות בתוכנית הקומה שלכם המשקפת את פריסת המסעדה — עבדו ממערכת POS שמתאימה לכם ובצעו התאמות בזמן אמת</Translation>
    <Translation Language="ru">Всего одним нажатием и слайдом увеличьте количество расставленных столов на плане этажа, отражающем планировку вашего ресторана — работайте с POS-системой, которая удобна для вас, и вносите изменения в реальном времени</Translation>
  </Translations>
</Dictionary>