<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c1e20d0e-f438-4e20-a362-dcbf0afe5f28" Alias="Work With Any Local Provider" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Work With Any Local Provider</Translation>
    <Translation Language="he">עבדו עם כל ספק מקומי</Translation>
    <Translation Language="ru">Работайте с любым местным провайдером</Translation>
  </Translations>
</Dictionary>