<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="18ca57db-f7a2-4890-aee1-61e856241e2c" Alias="Working from the waiters phone" Level="1">
  <Info>
    <Parent>Home Page</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">&lt;span style="color: var(--color-accent);"&gt;Working&lt;/span&gt; from the waiter's &lt;span style="color: var(--color-accent);"&gt;phone&lt;/span&gt;</Translation>
    <Translation Language="he">&lt;span style="color: var(--color-accent);"&gt;עובד&lt;/span&gt; מהטלפון של המלצר &lt;span style="color: var(--color-accent);"&gt;שלו&lt;/span&gt;</Translation>
    <Translation Language="ru">&lt;span style="color: var(--color-accent);"&gt;Работаем&lt;/span&gt; с телефона &lt;span style="color: var(--color-accent);"&gt;официанта&lt;/span&gt;</Translation>
  </Translations>
</Dictionary>