<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="09543cdf-6a85-4275-aed2-44e0a220aca7" Alias="YES, I have a password" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">YES, I have a password</Translation>
    <Translation Language="he">כן, יש לי סיסמא</Translation>
    <Translation Language="ru">Да, у меня есть пароль</Translation>
  </Translations>
</Dictionary>