<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="09944be9-e25b-4b39-ad63-1b39fb629b72" Alias="You will never have to reprint a new QRCode" Level="2">
  <Info>
    <Parent>Change yoo menu</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">You will never have to reprint your menus again.</Translation>
    <Translation Language="he">לעולם לא תצטרכו להדפיס שוב את התפריטים שלכם.</Translation>
    <Translation Language="ru">Вам больше никогда не придется перепечатывать меню.</Translation>
  </Translations>
</Dictionary>