<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1ae29e20-bf95-453e-9869-d6de59306c8b" Alias="Your phone number:" Level="1">
  <Info>
    <Parent>LoginPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Your phone number:</Translation>
    <Translation Language="he">מספר הטלפון שלך:</Translation>
    <Translation Language="ru">Ваш номер телефону:</Translation>
  </Translations>
</Dictionary>