<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c46ee9ff-4259-43f7-8032-4a21e0c66471" Alias="Zmenu provides full 24 7 support" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Yes. Zmenu provides full 24/7 support, including onboarding assistance, training materials, guides, and live help whenever you need it.</Translation>
    <Translation Language="he">כן. ‏Zmenu מספקת תמיכה מלאה 24/7, כולל סיוע בהטמעה, חומרי הדרכה, מדריכים ועזרה חיה בכל זמן שתצטרכו.</Translation>
    <Translation Language="ru">Да. Zmenu предоставляет круглосуточную поддержку 24/7, включая помощь при запуске, обучающие материалы, руководства и живую поддержку в любое время, когда она вам нужна.</Translation>
  </Translations>
</Dictionary>