<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7a0368f6-980e-4912-a47f-0046c015d754" Alias="Zmenu. All rights reserved." Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Zmenu. All rights reserved.</Translation>
    <Translation Language="he">Zmenu. כל הזכויות שמורות.</Translation>
    <Translation Language="ru">Zmenu. Все права защищены.</Translation>
  </Translations>
</Dictionary>