<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a689744e-ba06-422f-b173-2665aeee3585" Alias="Zmenu continues operating in offline mode" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Yes. Zmenu continues operating in offline mode even if the internet or power fails. All orders and data are safely stored locally and automatically synced once the connection is restored.</Translation>
    <Translation Language="he">כן. ‏Zmenu ממשיכה לפעול במצב לא מקוון גם אם האינטרנט או החשמל נופלים. כל ההזמנות והנתונים נשמרים בבטחה באופן מקומי ומסתנכרנים אוטומטית ברגע שהחיבור מתחדש.</Translation>
    <Translation Language="ru">Да. Zmenu продолжает работать в офлайн-режиме, даже если пропадает интернет или электричество. Все заказы и данные надежно сохраняются локально и автоматически синхронизируются, как только соединение восстанавливается.</Translation>
  </Translations>
</Dictionary>