<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7d0ea1e4-56ee-45bd-bcf7-da199081403b" Alias="Zmenu works directly from your existing devices" Level="2">
  <Info>
    <Parent>New Design</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No. Zmenu works directly from your existing devices. Waiters can use their personal phones, and managers can run the POS on any Windows PC or tablet. Optional printers or payment terminals can be added later, but are not required to get started.</Translation>
    <Translation Language="he">לא. ‏Zmenu פועלת ישירות מהמכשירים הקיימים שלכם. המלצרים יכולים להשתמש בטלפונים האישיים שלהם, והמנהלים יכולים להפעיל את הקופה על כל מחשב או טאבלט עם Windows. ניתן להוסיף מדפסות או מסופי תשלום בהמשך, אך אין צורך בהם כדי להתחיל.</Translation>
    <Translation Language="ru">Нет. Zmenu работает напрямую с вашими существующими устройствами. Официанты могут использовать свои личные телефоны, а менеджеры — запускать POS-систему на любом ПК или планшете с Windows. При желании можно добавить принтеры или терминалы оплаты позже, но для начала они не требуются.</Translation>
  </Translations>
</Dictionary>