<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a7d0f54-7e65-4589-a855-186de2ca8002" Alias="Blog - Slider" Level="1">
  <Info>
    <Name>Blog - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MaximumValue": 0.0,
  "MinimumValue": 0.0,
  "StepIncrements": 0.0
}]]></Config>
</DataType>