<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4013ea6-239a-4620-83cc-c3b6a06a28d8" Alias="Content Base - Content - Grid layout" Level="1">
  <Info>
    <Name>Content Base - Content - Grid layout</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "Items": {
    "styles": [],
    "config": [],
    "columns": 12,
    "templates": [
      {
        "name": "1 column layout",
        "sections": [
          {
            "grid": 12
          }
        ]
      }
    ],
    "layouts": [
      {
        "label": "Article",
        "name": "Article",
        "areas": [
          {
            "grid": 4
          },
          {
            "grid": 8
          }
        ]
      },
      {
        "name": "Three columns",
        "areas": [
          {
            "grid": 4,
            "allowed": [],
            "allowAll": true
          },
          {
            "grid": 4,
            "allowed": [],
            "allowAll": true
          },
          {
            "grid": 4,
            "allowed": [],
            "allowAll": true
          }
        ]
      },
      {
        "name": "FullWidth",
        "areas": [
          {
            "grid": 12,
            "allowed": [],
            "allowAll": true
          }
        ]
      }
    ]
  },
  "MediaParentId": null,
  "Rte": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "height": 500
    }
  }
}]]></Config>
</DataType>