<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1009dd8d-2207-4b29-8270-449949481055" Alias="Label (string) (1)" Level="1">
  <Info>
    <Name>Label (string) (1)</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>