<?xml version="1.0" encoding="utf-8"?>
<DataType Key="39fa3a80-5da6-4c10-94a6-b27f19689a20" Alias="People - Featured People - Multinode Treepicker" Level="1">
  <Info>
    <Name>People - Featured People - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "person",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>