<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16b2d87b-7789-4017-9b30-ff51d60309f6" Alias="Person - Department - Tags" Level="1">
  <Info>
    <Name>Person - Department - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "default",
  "StorageType": 1
}]]></Config>
</DataType>