<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dadf6758-e205-4d40-a539-d115db4696ba" Alias="Product - Price - Decimal" Level="1">
  <Info>
    <Name>Product - Price - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>