<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9fc6b181-7401-43a1-9eee-bfc1e8b87396" Alias="Product - Photos - Media Picker" Level="1">
  <Info>
    <Name>Product - Photos - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": "umb://media/4b64d5529c7e4eb593ab3183650f3da2",
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>