<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1042e8c9-fb30-40a0-ab1e-76da5be34c0b" Alias="Product - Category - Tags" Level="1">
  <Info>
    <Name>Product - Category - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "default",
  "StorageType": 0
}]]></Config>
</DataType>