<?xml version="1.0" encoding="utf-8"?>
<DataType Key="081b3cb2-4af7-4fed-8971-77ea0e8cbc69" Alias="Products - Featured Products - Multinode Treepicker" Level="1">
  <Info>
    <Name>Products - Featured Products - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>