<?xml version="1.0" encoding="utf-8"?>
<DataType Key="268b7b00-0101-4095-b958-cf6d488fa1a5" Alias="Product - Features - Nested Content" Level="1">
  <Info>
    <Name>Product - Features - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "feature",
      "ncTabAlias": "Feature",
      "nameTemplate": "{{featureName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>