$page_side_padding: 100px;
$page_side_padding_small: 60px;
$page_side_padding_smallest: 30px;
$page_side_bars_color: #fff;

* {
  margin: 0;
}

body {
  .disabled{
    pointer-events: none;
    opacity: 0.5;
  }
  position: relative;
  font-family: Arial, Helvetica, sans-serif;

  .txt_center {
    text-align: center;
  }

  .header_elements {
    top: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 20px $page_side_padding;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100px;
    position: fixed;
    background-color: white;
    z-index: 100;
    border-bottom: 4px solid $page_side_bars_color;

    .lang_choose {
      height: fit-content;
      align-self: center;
      position: absolute;
      width: 120px;
      display: flex;
      justify-content: space-between;

      .lang_icon {
        width: 33px;
        height: 24px;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .logo_wrapper {
      margin: 0 auto;
      align-self: center;
    }
  }

  .digital_menu_body_wrapper {
    margin-top: 100px;
    position: relative;
    padding: 0 $page_side_padding;
    z-index: 1;
    background-color: $page_side_bars_color;
    height: fit-content;

    .digital_menu_body_content {
      background-color: white;
      height: 100%;
      padding: 20px $page_side_padding;

      .pagination_wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 20px 0;


        .pagination_elem {
          color: black;
          text-decoration: none;
        
          padding: 10px 50px;
          border: 1px solid black;
          display: block;
          transition: .3s ease-in-out;
        }

        .pagination_prev {
          border-radius: 8px 0 0 8px;
        }

        .pagination_next {
          border-radius: 0 8px 8px 0;
        }

        .pagination_elem:hover {
          background-color: #efefef;
        }
      }

      .rest_elems_wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 60px;

        .rest_elem {
          display: flex;
          width: 600px;
          justify-content: space-between;
          margin-bottom: 30px;

          .rest_elem_img {
            align-self: center;
            flex-basis: 20%;
            display: flex;
            justify-content: flex-end;
            height: 100px;
            
            .rest_logo {
              width: 100%;
              height: 100%;
            }
          }

          .rest_info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
            flex-basis: 55%;
            margin-right: auto;

            .rest_name {
              font-size: 25px;
            }

            .rest_address {

            }
          }

          .rest_supported_lang {
            align-self: center;
            display: flex;
            flex-basis: 25%;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .supported_lang_wrap {

              margin: 5px 0;
              flex-basis: 33%;
              display: flex;
              justify-content: center;

              .supported_lang {
                width: 33px;
              }
            }


            /*            .supported_lang:nth-child(3n + 2) {
                          margin-right: 10.5px;
                          margin-left: 10.5px;
                        }*/
          }


        }

      }
    }


    .digital_menu_content_title_wrap {

      .main_content_title_desc {
        margin-top: 20px;
        font-size: 14px;
      }

      .create_menu_link {
        color: blue;
        font-size: 20px;
        margin-top: 20px;
        display: block;
      }

      .create_menu_link:hover {
        color: #3b3bff;
      }

      .create_menu_link:active {
        color: #6e6eff;
      }
    }

  }

}

@media (max-width: 1080px) {
  body {

    .digital_menu_body_wrapper {

      .digital_menu_body_content {
        padding: 20px 20px;
      }
    }
  }
}

@media(max-width: 860px) {
  body {
    .digital_menu_body_wrapper {

      .digital_menu_body_content {

        .rest_elems_wrapper {

          .rest_elem {
            width: 100%;

            .rest_supported_lang {

              .supported_lang {
                flex-basis: 25%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 760px) {
  body {

    .header_elements {
      padding: 20px $page_side_padding_small;
    }

    .digital_menu_body_wrapper {
      padding: 0;

      .digital_menu_body_content {
      }
    }

    .header_elements {
      .lang_choose {
        left: 0;
        position: relative;
      }

      .logo_wrapper {
        margin: 0 0 0 auto;
      }

    }

  }
}

@media(max-width: 660px) {
  body {
    .digital_menu_body_wrapper {

      .digital_menu_body_content {

        .rest_elems_wrapper {

          .rest_elem {
            width: 100%;

            .rest_info {
              .rest_name {
                font-size: 18px;
              }

              .rest_address {
                font-size: 14px;
              }
            }

            .rest_supported_lang {

              .supported_lang {
                flex-basis: 20%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
  body {
    .header_elements {
      padding: 20px $page_side_padding_smallest;

      .lang_choose {
      }

    }

    .digital_menu_body_wrapper {
      padding: 0;
    }
  }
}

@media(max-width: 380px) {
  body .digital_menu_body_wrapper .digital_menu_body_content .rest_elems_wrapper .rest_elem .rest_info .rest_name {
    font-size: 16px;
  }
  body .digital_menu_body_wrapper .digital_menu_body_content .rest_elems_wrapper .rest_elem .rest_info .rest_address {
    font-size: 12px;
  }
}