html {
    scroll-behavior: smooth;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 99;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    min-height: 100%;
    width: 100%;
}

.loading {
    font-family: 'Roboto', 'Arial', 'Tahoma', sans-serif;
    font-size: 10pt;
    border: 1.5px solid #00a8ff;
    width: 165px;
    height: 50px;
    display: none;
    position: fixed;
    background-color: White;
    z-index: 999;
}

.has-error {
    border-color: #f00;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,.25);
    box-shadow: 0 0 0 0.2rem rgba(255,0,0,.25);
}

.valid {
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
}

#form-valid {
    display: none;
}

.ListError {
    border: 1px solid #000;
    padding: 15px 10%;
}
#error{
    color: red;
    font-weight: bolder;
    display: none;
}
#ok{
    color: green;
    font-weight: bolder;
    display: none;
}
#sms_sent{
    color: green;
    font-weight: bolder;
    display: none;
}

    .ListError li {
        color: #f00;
        font-weight: bolder;
    }

.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0, 123, 255, 0.3) !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.3) !important;
}

p {
    margin: 0;
}

.h-auto {
    height: auto !important;
}

.w-auto {
    width: auto !important;
}

body.rtl input[type=tel],
body.rtl input[type=email] {
    direction: ltr !important;
}

.overflow-hidden {
    overflow: hidden;
}

.underline {
    text-decoration: underline !important;
}

    .underline:hover {
        text-decoration: none !important;
    }
/*
.container {
    max-width: 1600px;
    position: relative;
}*/

.mw-1200 {
    max-width: 1200px !important;
}

.mw-960 {
    max-width: 960px !important;
}

.mw-500 {
    max-width: 500px !important;
}

.min-w-100 {
    min-width: 100% !important;
}


.text-d1 {
    color: #d1d1d1 !important;
}

.bg-f9 {
    background: #f9f9f9 !important;
}

.bg-e {
    background: #eee !important;
}

.bg-e1 {
    background: #e1e1e1 !important;
}

.text-444 {
    color: #444 !important;
}

.text-theme-orange {
    color: #f2501e !important;
}

.text-theme-red {
    color: #ff3636 !important;
}

.bg-theme-orange {
    background: #f2501e !important;
}

.btn-theme-orange {
    background: #f2501e !important;
    color: #fff !important;
}

    .btn-theme-orange:hover {
        background: #d54417 !important;
    }

.btn-theme-blue {
    background: blue !important;
    color: #fff !important;
}

    .btn-theme-blue:hover {
        background: #273c75 !important;
    }

.btn-theme-yellow {
    background: #fad634 !important;
    color: #13262b !important;
}

    .btn-theme-yellow:hover {
        background: #d7b623 !important;
    }

a {
    color: #007bff;
}

    a:hover {
        color: #273c75;
    }

.btn {
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    border-radius: .5rem;
}

    .btn:focus {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

.form-check * {
    cursor: pointer !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
}

.font-weigt-300 {
    font-weight: 300 !important;
}

.font-weigt-400 {
    font-weight: 400 !important;
}

.font-weight-700, .font-weight-bold {
    font-weight: 700 !important;
}

.small, small {
    font-weight: 300 !important;
}

.page-link, .page-link:hover {
    color: #d54417;
}

.page-item.disabled .page-link {
    color: #6c757d;
}

.page-link:focus {
    box-shadow: none;
}



/*RTL FIXES*/
body.rtl .navbar-nav .nav-item + .nav-item {
    margin-right: 0;
    margin-left: 0;
}

body.rtl .input-group > .input-group-append:not(:last-child) > .btn {
    border-radius: 0;
}

body.rtl .input-group .form-control:not(:last-child):not(:first-child) {
    border-right: 0;
    border-left: 0;
}

body.rtl .input-group .form-control:not(:first-child) {
    border-right: 0;
}

body.rtl .page-item:last-child .page-link {
    border-radius: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-right: 0;
}

body.rtl .page-item:first-child .page-link {
    border-radius: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

body.rtl .form-check {
    padding: 0 1.25rem 0 0;
}

body.rtl .form-check-label {
    padding: 0;
    color: #fff !important;
}
.signin .progress-bar {
    background-color: blue;
}
