<?xml version="1.0" encoding="utf-8"?>
<Media Key="95a6faa9-091a-4344-be2a-509610f5d97a" Alias="Banner-5" Level="2">
  <Info>
    <Parent Key="51437dd9-8164-4494-aac8-28f1ecd296c0">Banners</Parent>
    <Path>/Banners/Banner5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T22:35:46</CreateDate>
    <NodeName Default="Banner-5" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/v53knfi0/banner-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>