<?xml version="1.0" encoding="utf-8"?>
<Media Key="b45dde95-9fb2-4015-a6d3-bdd812aae3a5" Alias="Banner_3x" Level="2">
  <Info>
    <Parent Key="51437dd9-8164-4494-aac8-28f1ecd296c0">Banners</Parent>
    <Path>/Banners/Banner_3x</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T22:35:16</CreateDate>
    <NodeName Default="Banner_3x" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sppf1nfs/banner_3x.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>