<?xml version="1.0" encoding="utf-8"?>
<Media Key="913d2012-0df8-4c5c-9127-9aef3f9ed806" Alias="Facebook.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Facebooksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-10-24T23:15:34</CreateDate>
    <NodeName Default="Facebook.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/emqd1epy/facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>