<?xml version="1.0" encoding="utf-8"?>
<Media Key="813f34db-98db-485d-b07c-1def69c16b94" Alias="Free" Level="2">
  <Info>
    <Parent Key="cbbe7067-ab1a-4d35-b74f-067c9ab69724">How Works</Parent>
    <Path>/HowWorks/Free</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-10-24T22:44:02</CreateDate>
    <NodeName Default="Free" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3i0d5ao1/create-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>