<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbbe7067-ab1a-4d35-b74f-067c9ab69724" Alias="How Works" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HowWorks</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-10-24T22:42:59</CreateDate>
    <NodeName Default="How Works" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>