<?xml version="1.0" encoding="utf-8"?>
<Media Key="41156f84-6a62-40be-94f1-142fba4cc89e" Alias="Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-10-24T20:52:47</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wvxbkqlc/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>