<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b4991f9-9f2f-415c-b9d9-fcc15b30e4d9" Alias="Online Menu Step 2" Level="2">
  <Info>
    <Parent Key="8523828a-2d88-4300-8e23-23ccf6b05594">Steps</Parent>
    <Path>/Steps/OnlineMenuStep2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T22:51:21</CreateDate>
    <NodeName Default="Online Menu Step 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/54ifsgzp/image-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>