<?xml version="1.0" encoding="utf-8"?>
<Media Key="637c80ce-177b-46e6-8649-f0823a0ef964" Alias="Online Menu Step 1" Level="2">
  <Info>
    <Parent Key="8523828a-2d88-4300-8e23-23ccf6b05594">Steps</Parent>
    <Path>/Steps/OnlineMenuStep1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T22:51:09</CreateDate>
    <NodeName Default="Online Menu Step 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zcahyy11/img-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>