<?xml version="1.0" encoding="utf-8"?>
<Media Key="782684e7-b48e-4d85-aced-d312419efa42" Alias="Online Menu Step 3" Level="2">
  <Info>
    <Parent Key="8523828a-2d88-4300-8e23-23ccf6b05594">Steps</Parent>
    <Path>/Steps/OnlineMenuStep3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-24T22:51:39</CreateDate>
    <NodeName Default="Online Menu Step 3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2gccm4eo/img-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>