<?xml version="1.0" encoding="utf-8"?>
<Media Key="2dcd0f71-b5be-44b6-8e8c-d8f774b62634" Alias="Qr Code" Level="2">
  <Info>
    <Parent Key="cbbe7067-ab1a-4d35-b74f-067c9ab69724">How Works</Parent>
    <Path>/HowWorks/QrCode</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-10-24T22:44:45</CreateDate>
    <NodeName Default="Qr Code" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iahn0ln4/print-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>