<?xml version="1.0" encoding="utf-8"?>
<Media Key="d16a8c6d-e33c-44fa-95aa-3a89b2abefb3" Alias="SignUp" Level="2">
  <Info>
    <Parent Key="cbbe7067-ab1a-4d35-b74f-067c9ab69724">How Works</Parent>
    <Path>/HowWorks/SignUp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-10-24T22:43:41</CreateDate>
    <NodeName Default="SignUp" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lsggvuj2/sign-up-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>