<?xml version="1.0" encoding="utf-8"?>
<Media Key="8523828a-2d88-4300-8e23-23ccf6b05594" Alias="Steps" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Steps</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-10-24T22:49:34</CreateDate>
    <NodeName Default="Steps" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>