<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b4988dc-a8da-48c8-8be5-8157e45d7d0a" Alias="WhatsApp.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsAppsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-10-24T23:15:06</CreateDate>
    <NodeName Default="WhatsApp.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3weesk40/whatsupp.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>