<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfef0f10-692b-47df-8f71-42e53360edd1" Alias="Wipe 1" Level="2">
  <Info>
    <Parent Key="cbbe7067-ab1a-4d35-b74f-067c9ab69724">How Works</Parent>
    <Path>/HowWorks/Wipe1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-10-24T22:44:23</CreateDate>
    <NodeName Default="Wipe 1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eehp5tzl/contactless-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>