<?xml version="1.0" encoding="utf-8"?>
<Media Key="7099f150-5e48-42b7-a115-f70dee8e02ad" Alias="Youtube.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Youtubesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-10-24T23:15:19</CreateDate>
    <NodeName Default="Youtube.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mhyjs2ci/youtube.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>