<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4a15866-5df9-4f4a-8630-0051e7b603aa" Alias="Can I Share The Menu Link On Social Media Or Other Websites?" Level="3">
  <Info>
    <Parent Key="7ac7f834-ee5b-4a48-aaec-9b40bfd80e16">FaqContactlessMenu</Parent>
    <Path>/Menu4U/FaqContactlessMenu/CanIShareTheMenuLinkOnSocialMediaOrOtherWebsites</Path>
    <Trashed>false</Trashed>
    <ContentType>questionAnswer</ContentType>
    <CreateDate>2022-10-25T01:27:22</CreateDate>
    <NodeName Default="Can I Share The Menu Link On Social Media Or Other Websites?">
      <Name Culture="en-us">Can I Share The Menu Link On Social Media Or Other Websites?</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerQuestion>
      <Value Culture="en-us"><![CDATA[<p>Yes! Your digital menu is yours and you can put it anywhere you like. </p>]]></Value>
    </answerQuestion>
    <questionText>
      <Value Culture="en-us"><![CDATA[Can I Share The Menu Link On Social Media Or Other Websites?]]></Value>
    </questionText>
  </Properties>
</Content>