<?xml version="1.0" encoding="utf-8"?>
<Content Key="7254b5e2-9920-4d82-8ca9-ff2b1506dab7" Alias="Contact Us" Level="2">
  <Info>
    <Parent Key="848c0562-8692-40ad-8a71-e7f380c8fcaa">Menu4U</Parent>
    <Path>/Menu4U/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2022-10-26T05:51:15</CreateDate>
    <NodeName Default="Contact Us">
      <Name Culture="en-us">Contact Us</Name>
      <Name Culture="he">צור קשר</Name>
      <Name Culture="ru">Связаться с нами</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="he">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="7888a056-c0ac-44d0-85d9-1554c4ac62b5">Contact</Template>
  </Info>
  <Properties>
    <contactForm>
      <Value><![CDATA[]]></Value>
    </contactForm>
    <contactFormHeader>
      <Value><![CDATA[a]]></Value>
    </contactFormHeader>
    <contactIntro>
      <Value><![CDATA[a]]></Value>
    </contactIntro>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <mapHeader>
      <Value><![CDATA[]]></Value>
    </mapHeader>
    <pageTitle>
      <Value><![CDATA[a]]></Value>
    </pageTitle>
    <seoMetaDataDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDataDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>