<?xml version="1.0" encoding="utf-8"?>
<Content Key="63c3e588-cba1-4f24-bc9e-e4b8c1988e40" Alias="Contactless Menu" Level="3">
  <Info>
    <Parent Key="55cb10a3-3e0c-40f9-9af4-e1609bd5b608">Products</Parent>
    <Path>/Menu4U/Products/ContactlessMenu</Path>
    <Trashed>false</Trashed>
    <ContentType>productType</ContentType>
    <CreateDate>2022-10-26T07:03:58</CreateDate>
    <NodeName Default="Contactless Menu">
      <Name Culture="en-us">Contactless Menu</Name>
      <Name Culture="he">תפריט ללא מגע</Name>
      <Name Culture="ru">Бесконтактное меню</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="he">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="6a22c794-5773-4e56-8398-6be17102b6ab">ProductType</Template>
  </Info>
  <Properties>
    <childUrl>
      <Value Culture="en-us"><![CDATA[/qr-menu-for-restaurants]]></Value>
      <Value Culture="he"><![CDATA[/he/qr-menu-for-restaurants]]></Value>
      <Value Culture="ru"><![CDATA[/ru/qr-menu-for-restaurants]]></Value>
    </childUrl>
  </Properties>
</Content>