<?xml version="1.0" encoding="utf-8"?>
<Content Key="637dc453-ae74-4381-8ffa-df23a54bc228" Alias="Digital menus" Level="2">
  <Info>
    <Parent Key="848c0562-8692-40ad-8a71-e7f380c8fcaa">Menu4U</Parent>
    <Path>/Menu4U/DigitalMenus</Path>
    <Trashed>false</Trashed>
    <ContentType>digitalMenus</ContentType>
    <CreateDate>2023-08-02T23:08:19</CreateDate>
    <NodeName Default="Digital menus" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a02aca74-e92b-456f-ad38-a4eaa2d1b376">DigitalMenu</Template>
  </Info>
  <Properties>
    <creator>
      <Value><![CDATA[]]></Value>
    </creator>
    <ignoreTab>
      <Value><![CDATA[1]]></Value>
    </ignoreTab>
    <isWwwPart>
      <Value><![CDATA[0]]></Value>
    </isWwwPart>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <shareImageFB>
      <Value><![CDATA[]]></Value>
    </shareImageFB>
    <shareImageTwitter>
      <Value><![CDATA[]]></Value>
    </shareImageTwitter>
    <shareUrl>
      <Value><![CDATA[]]></Value>
    </shareUrl>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <twitterSite>
      <Value><![CDATA[]]></Value>
    </twitterSite>
  </Properties>
</Content>