<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d9b2185-8b3d-45eb-b085-440d82cf0f63" Alias="Do my diners need an app to scan a QR Code?" Level="3">
  <Info>
    <Parent Key="7ac7f834-ee5b-4a48-aaec-9b40bfd80e16">FaqContactlessMenu</Parent>
    <Path>/Menu4U/FaqContactlessMenu/DoMyDinersNeedAnAppToScanAQRCode</Path>
    <Trashed>false</Trashed>
    <ContentType>questionAnswer</ContentType>
    <CreateDate>2022-10-25T01:22:16</CreateDate>
    <NodeName Default="Do my diners need an app to scan a QR Code?">
      <Name Culture="en-us">Do my diners need an app to scan a QR Code?</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerQuestion>
      <Value Culture="en-us"><![CDATA[<p><strong>No</strong>, they do not. Diners can scan QR Codes using their phone cameras, Google lens, or the QR Code scanner on the control panel.</p>]]></Value>
    </answerQuestion>
    <questionText>
      <Value Culture="en-us"><![CDATA[Do my diners need an app to scan a QR Code?]]></Value>
    </questionText>
  </Properties>
</Content>