<?xml version="1.0" encoding="utf-8"?>
<Content Key="a42e6c02-f5f3-45a3-a07b-bf39be2cd522" Alias="Do you offer custom contactless menu with my logo and color scheme?" Level="3">
  <Info>
    <Parent Key="7ac7f834-ee5b-4a48-aaec-9b40bfd80e16">FaqContactlessMenu</Parent>
    <Path>/Menu4U/FaqContactlessMenu/DoYouOfferCustomContactlessMenuWithMyLogoAndColorScheme</Path>
    <Trashed>false</Trashed>
    <ContentType>questionAnswer</ContentType>
    <CreateDate>2022-10-25T01:26:19</CreateDate>
    <NodeName Default="Do you offer custom contactless menu with my logo and color scheme?">
      <Name Culture="en-us">Do you offer custom contactless menu with my logo and color scheme?</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerQuestion>
      <Value Culture="en-us"><![CDATA[<p><strong>Yes</strong>. Once you have an account you can request custom contactless menus. Custom menu are charged extra. Customer contactless menu design.</p>]]></Value>
    </answerQuestion>
    <questionText>
      <Value Culture="en-us"><![CDATA[Do you offer custom contactless menu with my logo and color scheme?]]></Value>
    </questionText>
  </Properties>
</Content>