<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e497193-836f-4992-a1a1-3311e291206c" Alias="error" Level="2">
  <Info>
    <Parent Key="848c0562-8692-40ad-8a71-e7f380c8fcaa">Menu4U</Parent>
    <Path>/Menu4U/error</Path>
    <Trashed>false</Trashed>
    <ContentType>errorPage</ContentType>
    <CreateDate>2022-12-05T06:06:24</CreateDate>
    <NodeName Default="error" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="319eae74-efb7-477a-a345-be4e8a6d3b0f">ErrorPage</Template>
  </Info>
  <Properties />
</Content>