<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ac7f834-ee5b-4a48-aaec-9b40bfd80e16" Alias="FaqContactlessMenu" Level="2">
  <Info>
    <Parent Key="848c0562-8692-40ad-8a71-e7f380c8fcaa">Menu4U</Parent>
    <Path>/Menu4U/FaqContactlessMenu</Path>
    <Trashed>false</Trashed>
    <ContentType>fAQ</ContentType>
    <CreateDate>2022-10-25T01:21:31</CreateDate>
    <NodeName Default="FaqContactlessMenu">
      <Name Culture="en-us">FaqContactlessMenu</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <faqSmallDescription>
      <Value><![CDATA[]]></Value>
    </faqSmallDescription>
    <fAQtitle>
      <Value><![CDATA[]]></Value>
    </fAQtitle>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>