<?xml version="1.0" encoding="utf-8"?>
<Content Key="39e178c0-b220-4dc4-bccc-f9142a4e2004" Alias="How contactless menu help me reduce cost?" Level="3">
  <Info>
    <Parent Key="7ac7f834-ee5b-4a48-aaec-9b40bfd80e16">FaqContactlessMenu</Parent>
    <Path>/Menu4U/FaqContactlessMenu/HowContactlessMenuHelpMeReduceCost</Path>
    <Trashed>false</Trashed>
    <ContentType>questionAnswer</ContentType>
    <CreateDate>2022-10-25T01:29:11</CreateDate>
    <NodeName Default="How contactless menu help me reduce cost?">
      <Name Culture="en-us">How contactless menu help me reduce cost?</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerQuestion>
      <Value Culture="en-us"><![CDATA[<p>All menus are digital, which allows restaurants and hotels to save on printing and design services. speed up service and save on manpower.</p>]]></Value>
    </answerQuestion>
    <questionText>
      <Value Culture="en-us"><![CDATA[How contactless menu help me reduce cost? ]]></Value>
    </questionText>
  </Properties>
</Content>