<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3cf61d8-e5a8-4688-a8eb-0142aa1f4e6c" Alias="How long will take me to build my menu?" Level="3">
  <Info>
    <Parent Key="7ac7f834-ee5b-4a48-aaec-9b40bfd80e16">FaqContactlessMenu</Parent>
    <Path>/Menu4U/FaqContactlessMenu/HowLongWillTakeMeToBuildMyMenu</Path>
    <Trashed>false</Trashed>
    <ContentType>questionAnswer</ContentType>
    <CreateDate>2022-10-25T01:21:58</CreateDate>
    <NodeName Default="How long will take me to build my menu?">
      <Name Culture="en-us">How long will take me to build my menu?</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerQuestion>
      <Value Culture="en-us"><![CDATA[<p>We have worked hard to make the menu build powerful but easy to use. Typically it takes about 30 minuets to create a menu with 60 items.</p>]]></Value>
    </answerQuestion>
    <questionText>
      <Value Culture="en-us"><![CDATA[How long will take me to build my menu?]]></Value>
    </questionText>
  </Properties>
</Content>