<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bf42316-93a5-4519-a454-897f16d433a7" Alias="/JoinBusiness/Login" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/JoinBusinessLogin</Path>
    <Trashed Parent="848c0562-8692-40ad-8a71-e7f380c8fcaa">true</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2022-10-25T01:32:55</CreateDate>
    <NodeName Default="/JoinBusiness/Login" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9c7d631f-b9f4-4320-9b39-8043bf81bd83">Login</Template>
  </Info>
  <Properties>
    <creator>
      <Value><![CDATA[]]></Value>
    </creator>
    <ignoreTab>
      <Value><![CDATA[0]]></Value>
    </ignoreTab>
    <metaDescription>
      <Value><![CDATA[Sign-in into your menu4u account.]]></Value>
    </metaDescription>
    <shareImageFB>
      <Value><![CDATA[]]></Value>
    </shareImageFB>
    <shareImageTwitter>
      <Value><![CDATA[]]></Value>
    </shareImageTwitter>
    <shareUrl>
      <Value><![CDATA[]]></Value>
    </shareUrl>
    <title>
      <Value><![CDATA[Sign-in into your menu4u account.]]></Value>
    </title>
    <twitterSite>
      <Value><![CDATA[]]></Value>
    </twitterSite>
  </Properties>
</Content>