<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4138df9-4fb8-45ce-9775-751d33771d50" Alias="JoinBusiness" Level="2">
  <Info>
    <Parent Key="848c0562-8692-40ad-8a71-e7f380c8fcaa">Menu4U</Parent>
    <Path>/Menu4U/JoinBusiness</Path>
    <Trashed>false</Trashed>
    <ContentType>joinBusiness</ContentType>
    <CreateDate>2025-10-20T02:20:26</CreateDate>
    <NodeName Default="JoinBusiness" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f361a335-8f19-4ff7-b9a5-77b34eb35536">JoinBusiness</Template>
  </Info>
  <Properties>
    <creator>
      <Value><![CDATA[]]></Value>
    </creator>
    <ignoreTab>
      <Value><![CDATA[1]]></Value>
    </ignoreTab>
    <isWwwPart>
      <Value><![CDATA[]]></Value>
    </isWwwPart>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <shareImageFB>
      <Value><![CDATA[]]></Value>
    </shareImageFB>
    <shareImageTwitter>
      <Value><![CDATA[]]></Value>
    </shareImageTwitter>
    <shareUrl>
      <Value><![CDATA[]]></Value>
    </shareUrl>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <twitterSite>
      <Value><![CDATA[]]></Value>
    </twitterSite>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>