<?xml version="1.0" encoding="utf-8"?>
<Content Key="848c0562-8692-40ad-8a71-e7f380c8fcaa" Alias="Menu4U" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Menu4U</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-10-25T01:19:01</CreateDate>
    <NodeName Default="Menu4U">
      <Name Culture="en-us">Menu4U</Name>
      <Name Culture="he">Menu4U</Name>
      <Name Culture="ru">Menu4U</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="he">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="56371c13-335e-4319-a794-da122489938d">Home</Template>
  </Info>
  <Properties>
    <creator>
      <Value Culture="ru"><![CDATA[]]></Value>
    </creator>
    <ignoreTab>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="he"><![CDATA[0]]></Value>
      <Value Culture="ru"><![CDATA[0]]></Value>
    </ignoreTab>
    <logo>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="he"><![CDATA[[]]]></Value>
      <Value Culture="ru"><![CDATA[[]]]></Value>
    </logo>
    <metaDescription>
      <Value Culture="ru"><![CDATA[]]></Value>
    </metaDescription>
    <shareImageFB>
      <Value Culture="ru"><![CDATA[]]></Value>
    </shareImageFB>
    <shareImageTwitter>
      <Value Culture="ru"><![CDATA[]]></Value>
    </shareImageTwitter>
    <shareUrl>
      <Value Culture="ru"><![CDATA[]]></Value>
    </shareUrl>
    <title>
      <Value Culture="en-us"><![CDATA[zmenu]]></Value>
      <Value Culture="he"><![CDATA[zmenu]]></Value>
      <Value Culture="ru"><![CDATA[zmenu]]></Value>
    </title>
    <twitterSite>
      <Value Culture="ru"><![CDATA[]]></Value>
    </twitterSite>
  </Properties>
</Content>