<?xml version="1.0" encoding="utf-8"?>
<Content Key="65b6befa-4e51-45ae-a0e5-5ba79a3037ef" Alias="Password" Level="3">
  <Info>
    <Parent Key="b4138df9-4fb8-45ce-9775-751d33771d50">JoinBusiness</Parent>
    <Path>/Menu4U/JoinBusiness/Password</Path>
    <Trashed>false</Trashed>
    <ContentType>password</ContentType>
    <CreateDate>2025-10-20T02:20:53</CreateDate>
    <NodeName Default="Password" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="772e157e-280a-41bf-800e-ac40d6183918">Password</Template>
  </Info>
  <Properties>
    <creator>
      <Value><![CDATA[]]></Value>
    </creator>
    <ignoreTab>
      <Value><![CDATA[0]]></Value>
    </ignoreTab>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <shareImageFB>
      <Value><![CDATA[]]></Value>
    </shareImageFB>
    <shareImageTwitter>
      <Value><![CDATA[]]></Value>
    </shareImageTwitter>
    <shareUrl>
      <Value><![CDATA[]]></Value>
    </shareUrl>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <twitterSite>
      <Value><![CDATA[]]></Value>
    </twitterSite>
  </Properties>
</Content>