<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec17ff70-9f5f-46f0-bb7d-8a163a54b343" Alias="PhoneConfirm" Level="102">
  <Info>
    <Parent Key="6bf42316-93a5-4519-a454-897f16d433a7">/JoinBusiness/Login</Parent>
    <Path>/[-20]/JoinBusinessLogin/PhoneConfirm</Path>
    <Trashed Parent="6bf42316-93a5-4519-a454-897f16d433a7">true</Trashed>
    <ContentType>phoneConfirm</ContentType>
    <CreateDate>2022-10-25T01:33:30</CreateDate>
    <NodeName Default="PhoneConfirm">
      <Name Culture="en-us">PhoneConfirm</Name>
      <Name Culture="he">PhoneConfirm</Name>
      <Name Culture="ru">PhoneConfirm</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="he">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="03ccfe7b-1da2-413c-9885-5f7470a9e1fb">PhoneConfirm</Template>
  </Info>
  <Properties>
    <umbracoNaviHide>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="he"><![CDATA[0]]></Value>
      <Value Culture="ru"><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>