<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe934d2a-89b7-46b9-bdca-9964e2dae6f9" Alias="POS for a retailers" Level="3">
  <Info>
    <Parent Key="cf3e6be0-0394-40e9-940a-9f39863b3bcd">Solutions</Parent>
    <Path>/Menu4U/Solutions/POSForARetailers</Path>
    <Trashed>false</Trashed>
    <ContentType>productType</ContentType>
    <CreateDate>2025-11-13T15:36:25</CreateDate>
    <NodeName Default="POS for a retailers">
      <Name Culture="en-us">POS for a retailers</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="6a22c794-5773-4e56-8398-6be17102b6ab">ProductType</Template>
  </Info>
  <Properties>
    <childUrl>
      <Value Culture="en-us"><![CDATA[/POS-for-a-retailers]]></Value>
    </childUrl>
  </Properties>
</Content>