<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0bdfca0-dc6c-4fe1-b830-30cf7e776555" Alias="Pos For A Retailers" Level="2">
  <Info>
    <Parent Key="848c0562-8692-40ad-8a71-e7f380c8fcaa">Menu4U</Parent>
    <Path>/Menu4U/PosForARetailers</Path>
    <Trashed>false</Trashed>
    <ContentType>posForRetailers</ContentType>
    <CreateDate>2025-11-12T15:21:08</CreateDate>
    <NodeName Default="Pos For A Retailers">
      <Name Culture="en-us">Pos For A Retailers</Name>
      <Name Culture="he">Pos For A Retailers</Name>
      <Name Culture="ru">Pos For A Retailers</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="he">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="496b4128-5e83-4f9a-9e74-563232f08ea7">PosForRetailers</Template>
  </Info>
  <Properties>
    <creator>
      <Value Culture="ru"><![CDATA[]]></Value>
    </creator>
    <ignoreTab>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="he"><![CDATA[1]]></Value>
      <Value Culture="ru"><![CDATA[1]]></Value>
    </ignoreTab>
    <isWwwPart>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="he"><![CDATA[0]]></Value>
      <Value Culture="ru"><![CDATA[0]]></Value>
    </isWwwPart>
    <metaDescription>
      <Value Culture="ru"><![CDATA[]]></Value>
    </metaDescription>
    <shareImageFB>
      <Value Culture="ru"><![CDATA[]]></Value>
    </shareImageFB>
    <shareImageTwitter>
      <Value Culture="ru"><![CDATA[]]></Value>
    </shareImageTwitter>
    <shareUrl>
      <Value Culture="ru"><![CDATA[]]></Value>
    </shareUrl>
    <title>
      <Value Culture="ru"><![CDATA[]]></Value>
    </title>
    <twitterSite>
      <Value Culture="ru"><![CDATA[]]></Value>
    </twitterSite>
  </Properties>
</Content>