<?xml version="1.0" encoding="utf-8"?>
<Content Key="04ecc268-9c15-48b5-8016-72e4124ca58e" Alias="POS for a restaurant" Level="3">
  <Info>
    <Parent Key="cf3e6be0-0394-40e9-940a-9f39863b3bcd">Solutions</Parent>
    <Path>/Menu4U/Solutions/POSForARestaurant</Path>
    <Trashed>false</Trashed>
    <ContentType>productType</ContentType>
    <CreateDate>2025-11-13T15:37:19</CreateDate>
    <NodeName Default="POS for a restaurant">
      <Name Culture="en-us">POS for a restaurant</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="6a22c794-5773-4e56-8398-6be17102b6ab">ProductType</Template>
  </Info>
  <Properties>
    <childUrl>
      <Value Culture="en-us"><![CDATA[/Restaurant-Pos-System]]></Value>
    </childUrl>
  </Properties>
</Content>