<?xml version="1.0" encoding="utf-8"?>
<Content Key="55cb10a3-3e0c-40f9-9af4-e1609bd5b608" Alias="Products" Level="2">
  <Info>
    <Parent Key="848c0562-8692-40ad-8a71-e7f380c8fcaa">Menu4U</Parent>
    <Path>/Menu4U/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2022-10-26T07:03:11</CreateDate>
    <NodeName Default="Products">
      <Name Culture="en-us">Products</Name>
      <Name Culture="he">מוצרים</Name>
      <Name Culture="ru">Продукты</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="he">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <defaultCurrency>
      <Value><![CDATA[[
  "€"
]]]></Value>
    </defaultCurrency>
    <featuredProducts>
      <Value><![CDATA[]]></Value>
    </featuredProducts>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Products]]></Value>
    </pageTitle>
    <seoMetaDataDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDataDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>