<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e88e4cf-774b-4023-a482-26bfd2e90710" Alias="Restaurant Pos System" Level="2">
  <Info>
    <Parent Key="848c0562-8692-40ad-8a71-e7f380c8fcaa">Menu4U</Parent>
    <Path>/Menu4U/RestaurantPosSystem</Path>
    <Trashed>false</Trashed>
    <ContentType>posForRestaurant</ContentType>
    <CreateDate>2025-11-12T15:20:56</CreateDate>
    <NodeName Default="Restaurant Pos System">
      <Name Culture="en-us">Restaurant Pos System</Name>
      <Name Culture="he">Restaurant Pos System</Name>
      <Name Culture="ru">Restaurant Pos System</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="he">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="fb14a424-edbb-4bb2-89f9-c857bf1c8154">PosForRestaurant</Template>
  </Info>
  <Properties>
    <creator>
      <Value Culture="ru"><![CDATA[]]></Value>
    </creator>
    <ignoreTab>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="he"><![CDATA[1]]></Value>
      <Value Culture="ru"><![CDATA[1]]></Value>
    </ignoreTab>
    <isWwwPart>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="he"><![CDATA[0]]></Value>
      <Value Culture="ru"><![CDATA[0]]></Value>
    </isWwwPart>
    <jSONLD>
      <Value Culture="ru"><![CDATA[]]></Value>
    </jSONLD>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[Get an easy-to-use POS for restaurant operations. Zmenu’s cloud POS gets you up and running in 20 minutes with offline mode, delivery integration & loyalty.]]></Value>
      <Value Culture="he"><![CDATA[קבלו מערכת קופה פשוטה לשימוש לניהול פעולות המסעדה. מערכת הקופה בענן של Zmenu תעבוד תוך 20 דקות בלבד – עם מצב לא מקוון, אינטגרציית משלוחים ותוכנית נאמנות.]]></Value>
      <Value Culture="ru"><![CDATA[Получите простую в использовании кассовую систему для ресторанного бизнеса. Облачная POS-система Zmenu запускается за 20 минут и поддерживает офлайн-режим, интеграцию с доставкой и программу лояльности.]]></Value>
    </metaDescription>
    <shareImageFB>
      <Value Culture="ru"><![CDATA[]]></Value>
    </shareImageFB>
    <shareImageTwitter>
      <Value Culture="ru"><![CDATA[]]></Value>
    </shareImageTwitter>
    <shareUrl>
      <Value Culture="ru"><![CDATA[]]></Value>
    </shareUrl>
    <title>
      <Value Culture="en-us"><![CDATA[POS for Restaurant | Zmenu – Cloud Restaurant Point-of-Sale in 20 Minutes]]></Value>
      <Value Culture="he"><![CDATA[קופה למסעדה | Zmenu – מערכת קופה בענן למסעדות תוך 20 דקות]]></Value>
      <Value Culture="ru"><![CDATA[POS для ресторана | Zmenu – Облачная кассовая система для ресторанов за 20 минут]]></Value>
    </title>
    <twitterSite>
      <Value Culture="ru"><![CDATA[]]></Value>
    </twitterSite>
  </Properties>
</Content>