<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf3e6be0-0394-40e9-940a-9f39863b3bcd" Alias="Solutions" Level="2">
  <Info>
    <Parent Key="848c0562-8692-40ad-8a71-e7f380c8fcaa">Menu4U</Parent>
    <Path>/Menu4U/Solutions</Path>
    <Trashed>false</Trashed>
    <ContentType>solutions</ContentType>
    <CreateDate>2025-11-12T15:22:29</CreateDate>
    <NodeName Default="Solutions">
      <Name Culture="en-us">Solutions</Name>
      <Name Culture="ru">Решения</Name>
      <Name Culture="he">פתרונות</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="he">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template Key="9b75ecaf-7c30-4cd7-bbb4-5f02a6ee08fb">Solutions</Template>
  </Info>
  <Properties>
    <creator>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="he"><![CDATA[]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </creator>
    <ignoreTab>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="he"><![CDATA[0]]></Value>
      <Value Culture="ru"><![CDATA[0]]></Value>
    </ignoreTab>
    <isWwwPart>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="he"><![CDATA[0]]></Value>
      <Value Culture="ru"><![CDATA[0]]></Value>
    </isWwwPart>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="he"><![CDATA[]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </metaDescription>
    <shareImageFB>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="he"><![CDATA[]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </shareImageFB>
    <shareImageTwitter>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="he"><![CDATA[]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </shareImageTwitter>
    <shareUrl>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="he"><![CDATA[]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </shareUrl>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="he"><![CDATA[]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </title>
    <twitterSite>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="he"><![CDATA[]]></Value>
      <Value Culture="ru"><![CDATA[]]></Value>
    </twitterSite>
  </Properties>
</Content>