<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4db7668-7a6c-4e9f-a4be-cd9c27f8c65d" Alias="Store" Level="2">
  <Info>
    <Parent Key="848c0562-8692-40ad-8a71-e7f380c8fcaa">Menu4U</Parent>
    <Path>/Menu4U/Store</Path>
    <Trashed>false</Trashed>
    <ContentType>store</ContentType>
    <CreateDate>2022-10-26T06:08:20</CreateDate>
    <NodeName Default="Store">
      <Name Culture="en-us">Store</Name>
      <Name Culture="he">חנות</Name>
      <Name Culture="ru">Магазин</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="he">true</Published>
      <Published Culture="ru">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>