<?xml version="1.0" encoding="utf-8"?>
<Content Key="e63474bf-8a66-4b9c-85d7-aa7cd5d3df46" Alias="Verification" Level="3">
  <Info>
    <Parent Key="b4138df9-4fb8-45ce-9775-751d33771d50">JoinBusiness</Parent>
    <Path>/Menu4U/JoinBusiness/Verification</Path>
    <Trashed>false</Trashed>
    <ContentType>verification</ContentType>
    <CreateDate>2025-10-20T02:20:37</CreateDate>
    <NodeName Default="Verification" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3a9206bc-bf1d-4e9a-9d63-8f41b406b936">Verification</Template>
  </Info>
  <Properties>
    <creator>
      <Value><![CDATA[]]></Value>
    </creator>
    <ignoreTab>
      <Value><![CDATA[0]]></Value>
    </ignoreTab>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <shareImageFB>
      <Value><![CDATA[]]></Value>
    </shareImageFB>
    <shareImageTwitter>
      <Value><![CDATA[]]></Value>
    </shareImageTwitter>
    <shareUrl>
      <Value><![CDATA[]]></Value>
    </shareUrl>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <twitterSite>
      <Value><![CDATA[]]></Value>
    </twitterSite>
  </Properties>
</Content>