<?xml version="1.0" encoding="utf-8"?>
<Content Key="46182da9-595c-4658-9342-e1e1fe680f3b" Alias="What are the prices?" Level="3">
  <Info>
    <Parent Key="7ac7f834-ee5b-4a48-aaec-9b40bfd80e16">FaqContactlessMenu</Parent>
    <Path>/Menu4U/FaqContactlessMenu/WhatAreThePrices</Path>
    <Trashed>false</Trashed>
    <ContentType>questionAnswer</ContentType>
    <CreateDate>2022-10-25T01:29:28</CreateDate>
    <NodeName Default="What are the prices?">
      <Name Culture="en-us">What are the prices?</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerQuestion>
      <Value Culture="en-us"><![CDATA[<p>You can create a fully functioning digital menu and QR codes for customer to use for <strong>FREE</strong>. <br />We only charge you for additional features and if you want us to send you our premium easy-peel, waterproof stickers</p>]]></Value>
    </answerQuestion>
    <questionText>
      <Value Culture="en-us"><![CDATA[What are the prices?]]></Value>
    </questionText>
  </Properties>
</Content>