<?xml version="1.0" encoding="utf-8"?>
<Content Key="a89c0875-56e4-4c71-8e0a-6eacfbc4d03a" Alias="What Are The Supported Languages?" Level="3">
  <Info>
    <Parent Key="7ac7f834-ee5b-4a48-aaec-9b40bfd80e16">FaqContactlessMenu</Parent>
    <Path>/Menu4U/FaqContactlessMenu/WhatAreTheSupportedLanguages</Path>
    <Trashed>false</Trashed>
    <ContentType>questionAnswer</ContentType>
    <CreateDate>2022-10-25T01:27:46</CreateDate>
    <NodeName Default="What Are The Supported Languages?">
      <Name Culture="en-us">What Are The Supported Languages?</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerQuestion>
      <Value Culture="en-us"><![CDATA[<p>We support every and any language you can think of. We also support multilingual menus with automatic translation to help your foreigners guest easily read the menu.</p>]]></Value>
    </answerQuestion>
    <questionText>
      <Value Culture="en-us"><![CDATA[What Are The Supported Languages?]]></Value>
    </questionText>
  </Properties>
</Content>