<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f79f19f-bab4-4803-a8e5-85a42a78d1eb" Alias="What is a Contactless QR Code Menu?" Level="3">
  <Info>
    <Parent Key="7ac7f834-ee5b-4a48-aaec-9b40bfd80e16">FaqContactlessMenu</Parent>
    <Path>/Menu4U/FaqContactlessMenu/WhatIsAContactlessQRCodeMenu</Path>
    <Trashed>false</Trashed>
    <ContentType>questionAnswer</ContentType>
    <CreateDate>2022-10-25T01:28:01</CreateDate>
    <NodeName Default="What is a Contactless QR Code Menu?">
      <Name Culture="en-us">What is a Contactless QR Code Menu?</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerQuestion>
      <Value Culture="en-us"><![CDATA[<p>Contactless menus feature QR codes that customers point and scan with their smartphone’s camera, taking them to an online digital menu where they can browse food and drink options. In restaurants or Hotel rooms, these contactless menus are normally small table-top postcards. you can put This replaces the need for physical menus – meaning a safer experience for everyone involved.</p>]]></Value>
    </answerQuestion>
    <questionText>
      <Value Culture="en-us"><![CDATA[What is a Contactless QR Code Menu?]]></Value>
    </questionText>
  </Properties>
</Content>