.footer {
    padding: 60px 0;
    color: var(--color-white);
    background: #1C1C1C;

    &__inner {
        display: grid;
        grid-template-columns: 80px repeat(3, clamp(180px, 25vw, 311px));
        justify-content: space-between;
        gap: 30px;
        grid-template-areas: "a b c d";

        @include tablet {
            grid-template-columns: 1fr 1fr;
            text-align: center;
            gap: 40px;

            // порядок на планшете
            grid-template-areas:
                "a d"
                "b c";
        }

        @include mobile {
            display: grid;
            gap: 20px;

            // делаем 3 колонки, чтобы можно было "нарисовать" 1/3 + 2/3
            grid-template-columns: 80px 1fr 1fr 1fr;
            grid-template-rows: auto auto;
        }
    }

    &__item {
        @include tablet {
            &:nth-child(1) {
                grid-area: a;
            }

            &:nth-child(2) {
                grid-area: b;
            }

            // второй уходит на место третьего
            &:nth-child(3) {
                grid-area: c;
            }

            &:nth-child(4) {
                grid-area: d;
            }

            // четвёртый встаёт на место второго
        }

        @include mobile {
            &:nth-child(1) {
                grid-column: 1 / 2; // первая колонка (1/3)
                grid-row: 1;
            }

            &:nth-child(2) {
                grid-column: 1 / 3; // левая половина второй строки
                grid-row: 2;
            }

            &:nth-child(3) {
                grid-column: 3 / 5; // правая половина второй строки
                grid-row: 2;
            }

            &:nth-child(4) {
                grid-column: 2 / 5; // занимает две колонки (2/3)
                grid-row: 1;
            }
        }
    }


    &__logo {
        @include hover {
            opacity: 0.8;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        & li {
            & a {
                font-weight: 500;

                @include hover {
                    color: var(--color-accent);
                }
            }
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 16px;
    }

    &__link {
        @include flex-center;
        gap: 12px;

        @include hover {
            color: var(--color-accent);
        }
    }
}

.social__list {
    padding: 16px 0;
    @include flex-center;
    gap: 20px;

    & a {

        & img {
            transition: all 0.3s ease;
        }

        @include hover {
            & img {
                opacity: 0.8;
                scale: 1.1;
            }
        }
    }
}

.copy {
    margin-top: 66px;
    color: #989898;
    font-size: 14px;
    font-weight: 400 !important;
    display: flex;
    align-items: center;
    gap: 24px;

    & a {
        @include hover {
            color: var(--color-accent);
        }
    }
}