.header {
    position: relative;
    background-color: var(--color-black);

    &.fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
    }

    &__inner {
        padding: 23px 0;
        display: flex;
        align-items: center;
        gap: 45px;

        @include mobile {
            gap: 25px;
            padding: 20px 0;
        }
    }

    &__actions {
        margin-left: auto;

        & .button {
            height: 48px;
            font-size: 16px;
            font-weight: 700;

            &--white {
                border-color: var(--color-white);
            }

            @include mobile {
                height: 40px;
                font-weight: 500;
                padding: 0 10px;
            }   
        }
    }
}