.hero {
    @include flex-center;
    background-color: var(--color-white);
    padding: 50px 0;

    @include tablet {
        padding-bottom: 0;
        background-color: transparent;
    }

    & .container {
        @include tablet {
            display: contents;
        }
    }

    & h1 {

        @include tablet {
            max-width: 100%;
            text-align: center;
        }
    }

    & p {
        font-size: 24px;
        color: #222;

        @include tablet {
            text-align: center;
        }
    }

    & ul {
        margin: 0;
        padding: 0;
        list-style: none;

        margin-top: 30px;
        @include flex-center;
        flex-wrap: wrap;
        gap: 10px 34px;

        @include tablet {
            margin-top: 20px;
        }
    }

    & li {
        position: relative;
        font-size: 24px;
        font-weight: 400;

        &:first-child {
            &::before {
                display: none;
            }
        }

        &::before {
            content: "";
            position: absolute;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
            width: 6px;
            height: 6px;
            background-color: var(--color-accent);
            border-radius: 50%;
        }
    }

    & .row {
        @include tablet {
            flex-direction: column;
            align-items: center;
        }

        & .column {

            &:first-child {

                @include tablet {
                    padding: 0 20px;
                }
            }

            &:last-child {

                @include tablet {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
        }
    }

    & .button {
        width: 50%;

        @include tablet {
            height: 42px;
            width: auto;
        }
    }
}

.buttons {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;

    @include tablet {
        margin-top: 30px;
        gap: 30px;
        justify-content: center;
    }
}

.icons-platforms {
    margin-top: 13px;
    @include flex-center;
    gap: 50px;
}