.reviews {
    position: relative;

    & .author {
        display: flex;
        gap: 16px;

        & img {
            min-width: 50px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;

            @include mobile {
                min-width: 40px;
                width: 40px;
                height: 40px;
            }
        }

        & h4 {
            font-weight: 600;

            @include mobile {
                font-size: 14px;
            }
        }

    }

    & ul {
        & li {
            display: flex;
            flex-direction: column;
            gap: 16px;
            min-height: 330px;
            height: auto;
            padding: 16px;
            background-color: var(--color-white);
            border-radius: var(--border-radius-large);

            @include mobile {
                padding: 12px;
                min-height: 250px;
                font-size: 14px;
            }
        }


    }

    & .swiper-button-next,
    & .swiper-button-prev {
        display: none;
    }
}