.steps {

    &__list {
        padding: 32px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        counter-reset: my-counter;
        /* создаём счётчик */
        list-style: none;
        /* убираем стандартные цифры */
        padding-left: 0;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            padding: 24px 0 40px;
            grid-template-columns: 1fr;
        }

        & li {
            padding: 16px;
            border-radius: var(--border-radius);
            background-color: var(--color-white);
            counter-increment: my-counter;
            /* увеличиваем счётчик на 1 */
            position: relative;

            @include tablet {
                box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
            }

            & .counter::before {
                content: counter(my-counter) "";
                /* выводим значение */
                @include flex-center;
                width: 43px;
                height: 43px;
                background: var(--color-accent);
                color: white;
                font-size: 26px;
                font-weight: 600;
                @include flex-center;
                border-radius: 50%;
                /* круглые цифры */

                @include mobile {
                    width: 30px;
                    height: 30px;
                    font-size: 18px;
                }
            }

            &>.row {
                justify-content: start;
                gap: 16px;
                margin-bottom: 16px;

                @include mobile {
                    gap: 20px;
                }

            }
        }
    }

    & .buttons {
        margin: 0;
        gap: 53px;
        justify-content: center;

        @include mobile {
            gap: 68px;
        }

        & .button {
            max-width: 256px;

            @include mobile {
                height: 42px;
                min-width: 130px;
            }
        }
    }

}