<?xml version="1.0" encoding="utf-8"?>
<Content Key="49446bd9-d8ea-4576-a8f2-ebc7693ad404" Alias="FaqContaclessMenu" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FaqContaclessMenu</Path>
    <Trashed>false</Trashed>
    <ContentType>contactlessMenu</ContentType>
    <CreateDate>2022-10-25T01:10:47</CreateDate>
    <NodeName Default="FaqContaclessMenu">
      <Name Culture="en-us">FaqContaclessMenu</Name>
      <Name Culture="he">בית</Name>
      <Name Culture="ru">Главная</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
      <Published Culture="he">false</Published>
      <Published Culture="ru">false</Published>
    </Published>
    <Schedule />
    <Template Key="0fa6878c-4301-43c2-b9d9-fa3da0aa9736">ContactlessMenu</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <creator>
      <Value Culture="en-us"><![CDATA[Mekashron]]></Value>
    </creator>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[Get FREE Contactless menus QR based for your restaurant.
Increase comfort levels for your guests, make them feel safer by avoiding printed menus.]]></Value>
      <Value Culture="he"><![CDATA[תפריט ברקוד דיגיטליי בחינם למסעדה שלכם.
הגדילו את המכירות במסעדה שלכם וייעלו את השירות על ידי תפריט ברקוד דיגיטלי (QR)]]></Value>
    </metaDescription>
    <shareImageFB>
      <Value Culture="en-us"><![CDATA[http://www.url.com]]></Value>
    </shareImageFB>
    <shareImageTwitter>
      <Value Culture="en-us"><![CDATA[http://www.url.com]]></Value>
    </shareImageTwitter>
    <shareUrl>
      <Value Culture="en-us"><![CDATA[http://www.url.com]]></Value>
    </shareUrl>
    <title>
      <Value Culture="en-us"><![CDATA[Free Contactless QR Menu for your restaurant | QR Menu | QR Ordering]]></Value>
      <Value Culture="he"><![CDATA[תפריט ברקוד למסעדה שלך בחינם | תפריט QR]]></Value>
    </title>
    <twitterSite>
      <Value Culture="en-us"><![CDATA[url.com]]></Value>
    </twitterSite>
  </Properties>
</Content>